{
  "presets": ["latest", "react"],
  "ignore": [
    "node_modules/**"
  ],
  "plugins": [
      "transform-flow-strip-types",
      "react-hot-loader/babel",
      "transform-object-rest-spread",
      "transform-class-properties",
  ]
}
