Django==1.11.10
Pillow==3.4.2
boto==2.39.0
celery==4.0.2
certifi==2018.1.18
dj-database-url==0.3.0
dj-static==0.0.6
django-cors-headers==2.1.0
django-redis==4.7.0
django-role-permissions==2.2.0
django-server-status==0.5.0
django-storages-redux==1.3.2
django-webpack-loader==0.5.0
djangorestframework==3.7.7
edx-api-client==0.4.0
edx-opaque-keys==0.4
elasticsearch-dsl==5.4.0
elasticsearch==5.5.1
factory_boy
faker
gnupg==2.2.0
html5lib==0.999999999
ipython
jsonfield==1.0.3
jsonpatch==1.16
newrelic
open-discussions-client==0.4.0
phonenumbers==8.3.2
psycopg2==2.7.3.2
pycountry==16.11.27.1
pysftp==0.2.9
python-dateutil
raven
redis==2.10.5
requests
social-auth-app-django==2.1.0
robohash
static3==0.5.1
uwsgi
wagtail==2.0
