Django==1.10.5
Pillow==3.4.2
PyYAML==3.11
boto==2.39.0
celery==3.1.23
dj-database-url==0.3.0
dj-static==0.0.6
django-redis==4.7.0
django-role-permissions==1.2
django-server-status==0.3.2
django-storages-redux==1.3.2
django-webpack-loader==0.4.1
djangorestframework==3.5.2
edx-api-client==0.3.0
edx-opaque-keys==0.4
elasticsearch-dsl==2.1.0
elasticsearch==2.3.0
factory_boy
faker
html5lib==0.999999999
ipython
jsonfield==1.0.3
newrelic
psycopg2==2.6
pycountry==16.11.27.1
pysftp==0.2.9
python-dateutil
python-social-auth==0.2.21
raven
redis==2.10.5
requests
static3==0.5.1
uwsgi
wagtail==1.8
