astroid==2.0.4
bpython
codecov
ddt
django-debug-toolbar
ipdb
nplusone>=0.8.1
pdbpp
pip-tools
pylint==2.1.0
pylint-django==2.0.2
pylint-plugin-utils==0.6
pytest==5.3.5
pytest-cov
pytest-django==3.8.0
pytest-pep8==1.0.6
pytest-mock
pytest-pylint==0.15.0
semantic-version
selenium==3.141.0
testfixtures
tox
isort==4.3.21
