bpython
codecov
ddt
django-debug-toolbar
ipdb
ipython
nplusone
pdbpp
pip-tools
pylint
pylint-django
pytest
pytest-cov
pytest-django
pytest-pep8
pytest-pylint
semantic-version
selenium
testfixtures
tox
