{% extends "base_error.html" %}
{% load i18n static %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}

{% block error_header %}
INTERNAL SERVER ERROR
{% endblock %}

{% block error_content %}
<div id="page-not-found">
	<p>The page you requested has problems: an engineer will be blamed for this.</p>

	<p>We get emails every time you see this page, keep refreshing if you're mad or just write to
	<a href="mailto:{{ support_email }}">{{ support_email }}</a></p>

	<iframe width="630" height="473" src="https://www.youtube.com/embed/IAIPUGO1iko"
		frameborder="0" allowfullscreen></iframe>
</div>
{% endblock %}
