<!DOCTYPE html>
<html lang="en">
  <head>
    {% spaceless %}
    {% load static %}
    {% load hijack_tags %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="{% url 'background-images-css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.ico' %}" />
    {% if APIKEYS.GOOGLE_TAG_MANAGER %}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer', '{{ APIKEYS.GOOGLE_TAG_MANAGER }}');</script>
      <!-- End Google Tag Manager -->
    {% endif %}
    <script type="text/javascript">
    var SETTINGS = {{ js_settings_json|safe }};
    var CURRENT_PAGE_URL = '{{ request.build_absolute_uri }}';
    </script>
    {% load render_bundle %}
    {% render_bundle "sentry_client" %}
    {% if is_public %}
      {% render_bundle "style_public" %}
    {% endif %}
    {% render_bundle "style" %}
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% block social %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% if not DO_NOT_TRACK %}
      {% include "analytics.html" %}
    {% endif %}
    {% if google_maps_api and APIKEYS.GOOGLE %}
    <script async
      src="https://maps.googleapis.com/maps/api/js?key={{ APIKEYS.GOOGLE }}&libraries=places">
    </script>
    {% endif %}
    {% endspaceless %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    {% if APIKEYS.GOOGLE_TAG_MANAGER %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ APIKEYS.GOOGLE_TAG_MANAGER }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% hijack_notification %}
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
      var footer = document.querySelector("#footer");
      if (footer) {
        footer.style.display = "";
      }
    </script>
    {% if has_zendesk_widget %}
      {% render_bundle "zendesk_widget" %}
    {% endif %}
  </body>
</html>
