{% extends "base.html" %}
{% load i18n static %}
{% block body_class %}template-programpage{% endblock %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}

{% block extrahead %}
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

  {% include "header.html" %}

  <div class="main-content-wrapper">
    <section class="main-content">
      <div class="page-content">
        <div class="single-column">

          <div class="mdl-card">
            <div class="mdl-card__title">
              <h2 class="mdl-card__title-text">
                {% block error_header %}
                {% endblock %}
              </h2>
            </div>
            <div class="mdl-card__supporting-text">
              {% block error_content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include "footer.html" %}
  <div id="signup-dialog">
  <!-- signup dialog React component injected here -->
  </div>
  {% load render_bundle %}
  {% render_bundle "public" %}
{% endblock %}
