{% extends "base.html" %}
{% load i18n static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600;" />
{% endblock %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}

{% block content %}

<div class="">
  <div class="share-options">
    <button class="mdl-button share-btn open-send-dialog">Send Learner Record</button>
    <button class="mdl-button share-btn open-share-dialog">Share</button>
 </div>
  <main class="program-record-wrapping grade-record">
    <div class="program-record">
      <header class="program-record-header">
        <div class="program-overview">
          <div class="program-headings">
            <div class="program-title">{{ program_title }}</div>
            <div class="program-type text-muted">
              <span class="program-icon">
                {% include 'micromasters.svg' %}
              </span>
              MicroMasters Program Record
            </div>
          </div>
          <div class="program-status">
            <span class="badge {{ program_status }}">
              {{ program_status }} {% if program_status == 'partially' %}Completed{% endif %}
            </span>
            {% if last_updated %}
              <div class="updated">Last Updated: {{ last_updated|date:"n/j/y"  }}</div>
            {% endif %}
          </div>

        </div>

        <div class="school-name">
          <img src="{% static 'images/mitx_logo.png' %}" alt="MITx Logo" />
          <span class="pipe">on</span>
          <img src="{% static 'images/edx_logo.png' %}" alt="edX" class="edx-logo">
        </div>
      </header>
      <div class="name">
        <div class="full-name">{{ profile.full_name }}</div>
        {{ profile.username }}<span class="pipe">|</span>{{ profile.email }}
      </div>



      <div class="program-record-grades">
        <table class="table">
          <thead>
          <tr>
            <th>Class Name</th>
            <th>Course ID</th>
            <th class="narrow-col">Highest Grade Earned</th>
            <th>Letter Grade</th>
            <th class="narrow-col">Verified Attempts</th>
            <th>Date Earned</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          {% for record in courses %}
            <tr>
              <td>{{ record.title }}
                {% if has_electives %}<div class="elective-tag {{ record.elective_tag | lower}}">{{ record.elective_tag }}</div>{% endif %}</td>
              <td>{{ record.edx_course_key }}</td>
              <td>{% if record.overall_grade %}{{ record.overall_grade}}%{% endif %}</td>
              <td>{{ record.letter_grade }}</td>
              <td>{% if record.overall_grade %}{{ record.attempts }}{% endif %}</td>
              <td>{{ record.date_earned|date:"n/j/y" }}</td>
              <td><span class="badge {% if record.status == 'Earned' %}earned{% endif %}">{{ record.status }}</span></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  <div id="share-dialog"></div>
  <div id="send-dialog"></div>
  </main>
{% load render_bundle %}
{% render_bundle "public" %}
</div>

{% include "footer.html" %}
{% endblock %}
{% block bodyclass %}program-record-body{% endblock %}
