  <nav class="navbar" role="navigation">
      <div class="navbar-header">
        <div class="pull-left">
          <a class="brand-logo" href="http://www.mit.edu" target="_blank"><img src="/static/images/mit-logo-transparent.svg"  height="40" alt="MIT Home Page" /></a>
          <div class="divider-large">&nbsp;</div>
          <div class="header-page-name">
          <h2><a href="/">MITx MicroMasters</a></h2>
          </div>
          </div>
        <div class="pull-right">
          {% if authenticated %}
            {% if is_staff %}
              <a class="header-dashboard-link" href="/learners">My Dashboard</a>
            {% else %}
              <a class="header-dashboard-link" href="/dashboard">My Dashboard</a>
            {% endif %}
          <a class="mdl-button button-signup" href="/logout">
            Sign Out
          </a>
          {% else %}
          <a class="mdl-button button-login open-signup-dialog">Log In</a>
          <a class="mdl-button button-signup open-signup-dialog">
          Sign Up
          </a>
          {% endif %}
        </div>
      </div>
  </nav>
