{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "ui" %}{% endblock %}

{% block content %}
<div id="container">
    <div class="purpose-statement-box">
        <div class="purpose-statement-text">
            <div>
                MIT credentials are now attainable by anyone in the world with
                the discipline, dedication and intelligence to master course material.
            </div>
            <button type="button" class="learn-more-btn button" >Learn more</button>
        </div>

    </div>
    <div class="login-button-wrapper">
      {% if authenticated %}
      <h1>Welcome, {{ username }}</h1>
      {% else %}
      <a class="login-button button" href="{% url 'social:begin' 'edxorg' %}">Log in with edx.org</a>
      {% endif %}
    </div>
    <div class="programs-container">
        {% for program in programs %}
            <div class="program-box">
                <span style="line-height: 115px"></span>
                <div class="program-name">{{ program }}</div>
            </div>
        {% endfor %}
    </div>

    <div class="footer-row">
        <div class="footer-links">
            <a href="http://giving.mit.edu/">MIT Giving</a>
            <a href="https://www.edx.org/">edX</a>
            <a href="https://odl.mit.edu/">Office of Digital Learning</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ outer_src }}"></script>
{% endblock %}
