{% extends "base.html" %}
{% load i18n static wagtailimages_tags %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}

{% block content %}

<div class="letter">

  <div class="header-row">
    <div class="header-text">
      {{ header_text | safe }}
    </div>
    <div class="letter-logo">
          {% image letter_logo max-300x150 %}
      </div>
  </div>


  <div class="letter-content">
      <p>
          <strong>Dear {{ name }},</strong>
      </p>

      <div class="letter-text">
          {{ letter_text | safe}}
      </div>

      <div class="signatories">
          {% for signatory in signatories %}
          <div class="signatory">
              <div class="sig-image">
                  {% image signatory.signature_image max-130x60 %}
              </div>

              <div class="name">
                {{ signatory.name }},
                {{ signatory.title_line_1 }}{% if signatory.title_line_2 %},{{ signatory.title_line_2 }}{% endif %}
              </div>
          </div>
          {% endfor %}
      </div>
  </div>

    <div class="program-footer">
      <div class="footer-logo">
        {% if letter_footer %}
          {% image letter_footer max-300x150 %}
        {% else %}
          MITx MicroMasters program in {{ program_title }}
        {% endif %}
      </div>
      <div class="footer-text">
        {% if footer_text %} {{ footer_text | safe }} {% endif %}
      </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock %}
