{% extends "base_error.html" %}
{% load i18n static %}

{% block title %}{% trans "MITx MicroMasters" %}{% endblock %}

{% block error_header %}
NEED TO VERIFY EMAIL
{% endblock %}

{% block error_content %}
<div id="page-not-found">
	<p>You need to verify your email with edX before you can proceed.</p>
	<ul>
		<li><a href="/">Home page</a></li>
	</ul>
	<p>If you have not received a verification email from edx.org, please send an email to
	<a href="mailto:info@edx.org">info@edx.org</a></p>
</div>
{% endblock %}
