.mdl-button {

  font-weight: 400;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);

  &.gray-button {
    background: $gray-button-color;
    color: #555;
  }

  &.go-back {
    margin-right: 20px;
  }

  &.next, &.go-back {
    height: 43px;
    line-height: 43px;
    padding: 0 23px;
  }

  &.next {
    background: $button-color;
    color: #fff;
  }

  &.gray-button:hover, &.gray-button:focus, &.gray-button:active, &.gray-button:focus:not(:active) {
    background: $gray-button-hover;
    color: #555;
    text-decoration: none;
  }

  &.hero-button {
    background: $mm-brand-bg;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 300;
  }

  &.hero-button:hover, &.hero-button:focus, &.hero-button:active, &.hero-button:focus:not(:active) {
    background: $mm-brand-bg-dark;
  }

  &.signup-modal-button {
    font-size: 15px;
    background: $button-color;
    color: #fff;
    height: 50px;
    line-height: 50px;
  }

  &.button-signup, &.button-login {
    font-size: 15px;
    text-decoration: none;
    height: 44px;
    line-height: 43px;
  }

  &.button-signup {
    color: $mm-brand-bg !important;
    background-color: white;
  }

  &.button-login {
    margin-right: 19px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 3px;
    color: rgba(255,255,255,.8);
    background: transparent;
    line-height: 40px;
    height: 45px;
  }

  &.button-login:hover, &.button-login:focus, &.button-login:active, &.button-login:focus:not(:active),
  &.button-signup:hover, &.button-signup:focus, &.button-signup:active, &.button-signup:focus:not(:active) {
    background: white;
    color: $mm-brand-bg !important;
    border-color: white;
  }

  &.footer-button {
    display: block;
    background: #386082 !important;
    font-size: 14px;
    color: white;
    height: 42px;
    line-height: 41px;
  }

  &.footer-button:hover {
    background: #1d67a7 !important;
  }

  &.progress-button {
    color: #ffffff !important;
    background-color: #989898 !important;
    box-shadow: none;
  }

  &.progress-button:hover {
    box-shadow: none;
  }

  &.minor-action {
    font-size: 12px;
    color: #333333;
    border: 1px solid #d2d2d2;
    background: linear-gradient(to bottom, #ffffff, #e2e2e2);
    box-shadow: none;
  }

  &.minor-action:hover, &.minor-action:focus, &.minor-action:active, &.minor-action:focus:not(:active) {
    color: #000;
    background: linear-gradient(to bottom, #ffffff, #e2e2e2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05), 0 1px 5px rgba(0, 0, 0, 0.12);

  }

  &:hover, &:focus, &:active, &:focus:not(:active) {
    background: $button-color;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 3px 7px rgba(0, 0, 0, 0.22);
  }
}

.mdl-button--icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal;
  background: none;
  box-shadow: none;

  &:hover, &:focus, &:active, &:focus:not(:active)  {
    background: #eee;
    box-shadow: none;
  }

  i.material-icons {
    position: static;
    transform: none;
  }
}

.mdl-button:focus {
  outline: 0 auto;
  outline-offset: -2px;
}

.mdl-button:active {
  background-color: $button-color;
}

.mm-minor-action {
  color: $link-text;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background: none;
  border: none;
  padding: 3px 0;

  &:hover {
    color: $link-hover;
    text-decoration: underline;
  }
}

.dashboard-button {
  font-size: 13px;
  background: $button-color;
  color: white;

  &[disabled] {
    background-color: adjust-color($button-color, $alpha: -0.5);
  }
}

.disabled {
  opacity: 0.15;
  cursor: not-allowed;
}

a.btn {
  text-decoration: none;
}
