.mdl-button {

  font-weight: 400;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.1s cubic-bezier(.25,.8,.25,1);
  border: none;
  text-transform: uppercase;
  line-height: 35px;
  text-align: center;

  &.gray-button {
    background: $gray-button-color;
    color: #555;
  }

  &.go-back {
    margin-right: 20px;
  }

  &.next, &.go-back {
    height: 43px;
    line-height: 43px;
    padding: 0 23px;
  }

  &.next, &.exam-button {
    background: $button-color;
    color: #fff;
  }

  &.exam-button {
    min-width: 180px;
    margin: 10px 30px 10px 5px;
  }

  &.gray-button:hover, &.gray-button:focus, &.gray-button:active, &.gray-button:focus:not(:active) {
    background: $gray-button-hover;
    color: #555;
    text-decoration: none;
  }

  &.hero-button {
    background: $mm-brand-bg;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 300;
  }

  &.hero-button:hover, &.hero-button:focus, &.hero-button:active, &.hero-button:focus:not(:active) {
    background: $mm-brand-bg-dark;
  }

  &.signup-modal-button {
    font-size: 15px;
    background: $button-color;
    color: #fff;
    height: 50px;
    line-height: 50px;
  }

  &.button-signup, &.button-login {
    font-size: 14px;
    text-decoration: none;
    height: 38px;
    box-shadow: none;
  }

  &.button-signup {
    color: $mm-brand-bg !important;
    background-color: white;
    border: 2px solid rgba(255,255,255,.5);
  }

  &.button-login {
    margin-right: 12px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 3px;
    color: rgba(255,255,255,.8);
    background: transparent;
  }

  &.button-login:hover, &.button-login:focus, &.button-login:active, &.button-login:focus:not(:active),
  &.button-signup:hover, &.button-signup:focus, &.button-signup:active, &.button-signup:focus:not(:active) {
    background: white;
    color: $mm-brand-bg !important;
    border-color: white;
  }

  &.footer-button {
    display: block;
    background: #386082 !important;
    font-size: 14px;
    color: white;
    height: 42px;
    line-height: 41px;
  }

  &.footer-button:hover {
    background: #1d67a7 !important;
  }

  &.program-status, &.course-status {
    display: block;
    width: fit-content;
    font-size: 14px;
    height: 30px;
    line-height: 32px;
    text-transform: capitalize;
    border-radius: 3px;
    font-weight: 600;
    color: white;
    background: $medgray !important;

    &.completed, &.earned {
      background: darkolivegreen !important;
    }

    &.partially {
      background: #ffad33 !important;
    }
  }

  &.minor-action {
    font-size: 13px;
    color: #4a4a4a;
    border: 1px solid #d4d4d4;
    background: linear-gradient(to bottom, #f7f7f7, #f1f1f1);
    box-shadow: none;
    padding: 0 12px;
    height: 33px;
    line-height: 32px;
    text-transform: none;
  }

  &.minor-action:hover, &.minor-action:focus, &.minor-action:active, &.minor-action:focus:not(:active) {
    color: #000;
    background: linear-gradient(to bottom, #ffffff, #e2e2e2);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05), 0 1px 5px rgba(0, 0, 0, 0.12);

  }

  &:hover, &:focus, &:active, &:focus:not(:active) {
    background: $button-color;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 3px 7px rgba(0, 0, 0, 0.22);
  }

  &.no-hover-styling:hover {
    background: none;
    box-shadow: none;
    background-color: none;
  }

  &[disabled], &.progress-button[disabled] {
    color: white;
    background-color: $medgray;
    box-shadow: none;

    &:hover {
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}

.mdl-button--icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal;
  background: none;
  box-shadow: none;

  &:hover, &:focus, &:active, &:focus:not(:active)  {
    background: #eee;
    box-shadow: none;
  }

  i.material-icons {
    position: static;
    transform: none;
  }
}

.mdl-button:focus {
  outline: 0 auto;
  outline-offset: -2px;
}

.mdl-button:active {
  background-color: $button-color;
}

.mm-minor-action, .icon-button-link {
  color: $link-text;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background: none;
  border: none;
  padding: 3px 0;

  &:hover {
    color: $link-hover;
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    color: $font-gray-disabled;
    text-decoration: none;
  }
}

.mm-minor-action:hover {
  text-decoration: underline;
}


.icon-button-link {
  display: inline-flex;

  &:hover {
    text-decoration: none;
  }

  i.material-icons {
    margin-right: 6px;
    font-size: 28px;
  }

  span {
    line-height: 28px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dashboard-page .dashboard-button {
  font-size: 13px;
  background: $button-color;
  color: white;
  min-width: 120px;
  padding: 0 10px;
  text-align: center;
  font-weight: 400;
  line-height: 36px;
  border-radius: 2px;
  height: fit-content;

  &[disabled] {
    background-color: adjust-color($button-color, $alpha: -0.5);
  }

  &:hover, &:focus, &:active, &:focus:not(:active) {
    background: $button-color;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 3px 7px rgba(0, 0, 0, 0.22);
  }
}

a.btn {
  text-decoration: none;
}

.disabled-with-spinner {
  display: flex;
  align-items: center;
  cursor: default;

  .mdl-spinner__layer {
    border-color: white !important;
  }
}

.dialog, .course-action, .document-sent-button-container, .final-exam-card  {
  .disabled-with-spinner {
    display: inline-block !important;
    box-shadow: none;

    .mdl-spinner {
      height: 20px !important;
      line-height: 20px !important;
      width: 20px !important;
    }

    .mdl-spinner__layer {
      // these are against a white background
      border-color: $button-color !important;
    }
  }
}
