.mm-button {
  background-color: #f1f1f1;
  border-radius: 2px;
  border: 0;
  padding: 12px 35px;
  align-items: center;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 15px 0 0;
  cursor: pointer;

  &.main-action {
    background-color: $mm-brand-bg;
    color: white;
  }

  &.signup {
    background-color: $mm-brand-blue;
    color: white;
    text-transform: none;
    display: block;
    text-align: center;
  }

  &.minor-action {
    font-size: 12px;
    padding: 7px 12px;
    border: 1px solid #c7c7c7;
    background-image: -ms-linear-gradient(top, #f8f8f8   0%, #dedede   100%);
    background-image: -moz-linear-gradient(top, #f8f8f8   0%, #dedede   100%);
    background-image: -o-linear-gradient(top, #f8f8f8   0%, #dedede   100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8  ), color-stop(100, #dedede  ));
    background-image: -webkit-linear-gradient(top, #f8f8f8   0%, #dedede   100%);
    background-image: linear-gradient(to bottom, #f8f8f8   0%, #dedede   100%);
  }

  &.next {
    margin-left: -21px;
  }
}

.mm-minor-action {
  color: $link-text;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.dashboard-button {
  background-color: $mm-brand-bg;
  color: white;
  text-align: center;
  font-size: small;
  min-height: 40px;
  font-weight: 400;

  &[disabled] {
    background-color: adjust-color($dashboard-button-teal, $alpha: -0.5);
  }
}

.disabled {
  opacity: 0.3;
}

.dialog-button {
  width: 120px;

  &.cancel-button {
    color: white;
    background-color: $medgrey;
    margin: 0 5px 15px 5px;
  }

  &.save-button {
    background-color: $dashboard-button-teal;
    color: white;
    margin: 0 15px 15px 5px;
  }

  &.enroll-button {
    background-color: $dashboard-button-green;
    color: white;
    margin: 0 15px 15px 5px;
  }
}
