.micromasters-button {
  background-color: #F1F1F1;
  border-radius: 2px;
  padding: 6px 12px;
  border: 1px solid #d3d3d3;
  align-items: center;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  white-space: nowrap;
}
