.mdl-button {

  font-weight: 400;
  border-radius: 3px;

  &.gray-button {
    background: $gray-button-color;
    color: #555;
  }

  &.go-back {
    margin-right: 20px;
  }

  &.next, &.go-back {
    height: 43px;
    line-height: 43px;
    padding: 0 23px;
  }

  &.next {
    background: $button-color;
    color: #fff;
  }

  &.gray-button:hover, &.gray-button:focus, &.gray-button:active, &.gray-button:focus:not(:active) {
    background: $gray-button-hover;
    color: #555;
    text-decoration: none;
  }

  &.hero-button {
    background: $mm-brand-bg;
    color: #fff;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 300;
  }

  &.hero-button:hover, &.hero-button:focus, &.hero-button:active, &.hero-button:focus:not(:active) {
    background: $mm-brand-bg-dark;
  }

  &.signup-modal-button {
    font-size: 15px;
    background: $button-color;
    color: #fff;
    height: 50px;
    line-height: 50px;
  }

  &.button-signup, &.button-login {
    font-size: 15px;
    text-decoration: none;
    height: 44px;
    line-height: 43px;
  }

  &.button-signup {
    color: $mm-brand-bg !important;
    background-color: white;
  }

  &.button-login {
    margin-right: 19px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 3px;
    color: rgba(255,255,255,.8);
    background: transparent;
    line-height: 40px;
    height: 45px;
  }

  &.button-login:hover, &.button-login:focus, &.button-login:active, &.button-login:focus:not(:active),
  &.button-signup:hover, &.button-signup:focus, &.button-signup:active, &.button-signup:focus:not(:active) {
    background: white;
    color: $mm-brand-bg !important;
    border-color: white;
  }

  &.footer-button {
    display: block;
    background: #386082 !important;
    font-size: 14px;
    color: white;
    height: 42px;
    line-height: 41px;
  }

  &.footer-button:hover {
    background: #1d67a7 !important;
  }

  &.progress-button {
    color: $mm-brand-bg !important;
    background-color: $progress-button-background !important;
    box-shadow: none;
    height: 46px;
    line-height: 46px;
  }

  &.minor-action {
    font-size: 12px;
    color: #333333;
    border: 1px solid #d2d2d2;
    background-image: -ms-linear-gradient(top, #fbfbfb   0%, #e2e2e2   100%);
    background-image: -moz-linear-gradient(top, #fbfbfb   0%, #e2e2e2   100%);
    background-image: -o-linear-gradient(top, #fbfbfb   0%, #e2e2e2   100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbfbfb  ), color-stop(100, #e2e2e2  ));
    background-image: -webkit-linear-gradient(top, #fbfbfb   0%, #e2e2e2   100%);
    background-image: linear-gradient(to bottom, #fbfbfb   0%, #e2e2e2   100%);
  }

  &.minor-action:hover, &.minor-action:focus, &.minor-action:active, &.minor-action:focus:not(:active) {
    color: #000;
    background-image: -ms-linear-gradient(top, #f7f7f7   0%, #dadada   100%);
    background-image: -moz-linear-gradient(top, #f7f7f7   0%, #dadada   100%);
    background-image: -o-linear-gradient(top, #f7f7f7   0%, #dadada   100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f7f7f7  ), color-stop(100, #dadada  ));
    background-image: -webkit-linear-gradient(top, #f7f7f7   0%, #dadada   100%);
    background-image: linear-gradient(to bottom, #f7f7f7   0%, #dadada   100%);
  }

  &:hover, &:focus, &:active, &:focus:not(:active) {
    background-color: $button-color-hover;
    color: white;
    text-decoration: none;
  }
}

.mdl-button--icon {
  border-radius: 50%;
  font-size: 24px;
  height: 32px;
  margin-left: 0;
  margin-right: 0;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  color: inherit;
  line-height: normal;
  background: none;

  &:hover, &:focus, &:active, &:focus:not(:active)  {
    background: #eee;
  }

  i.material-icons {
    position: static;
    -webkit-transform: none;
    transform: none;

  }
}

.mdl-button:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.mdl-button:active {
  background-color: $button-color;
}

.mm-minor-action {
  color: $link-text;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background: none;
  border: none;
  padding: 3px 0;
}

.mm-minor-action:hover {
  text-decoration: underline;
  }

.dashboard-button {
  font-size: 13px;
  background: $button-color;
  color: white;

  &[disabled] {
    background-color: adjust-color($button-color, $alpha: -0.5);
  }
}

.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}



a.btn {
  text-decoration: none;
}
