.mm-button {
  background-color: #F1F1F1;
  border-radius: 2px;
  padding: 6px 12px;
  border: 1px solid #d3d3d3;
  align-items: center;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  white-space: nowrap;
}

.mm-minor-action {
  color: $mm-brand-blue;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer
}

.mm-button-action {
  border-radius: 2px;
  border: 0;
  padding: 10px 15px;
  min-width: 120px;
  text-transform: uppercase;
  box-shadow: 2px 2px 8px grey;
  font-weight: 600;
}

.mm-button-action.main-action {
  background-color: $mm-brand-bg;
  color: white;
}

.dialog-button {
  width: 120px;

  &.cancel-button {
    color: white;
    background-color: $medgrey;
    margin: 0 5px 15px 5px;
  }

  &.save-button {
    background-color: $dashboard-button-teal;
    color: white;
    margin: 0 15px 15px 5px;
  }
}
