// Change the grid settings
$column: 100px;
$gutter: 5px;
$grid-columns: 12;
$max-width: 1350px;
$min-width: 1350px;
$visual-grid: false;
$visual-grid-index: front !global;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
