// colors
$darkgrey: #696969;
$medlightgrey: #8d8d8d;
$medgrey: #a1a1a1;
$lightgrey: #eee;
$fg-grey: #F5F5F5;
$histogramgrey: #C6C6C6;

$font-black: #000000;

$page-background: #FCFCFC;

$mm-brand-bg: #30BB5C;
$mm-brand-fg: #2BA853;
$mm-brand-blue: #1B7AE3;
$help-icon-blue: #1976e5;
$dashboard-button-teal: #30bcd6;
$border-color: #cccccc;
$search-filter: #D2E4F9;

// other
$block-padding: 20px;
$page-padding: 40px;
$progress-widget-bg-stroke: #39C268;
$progress-button-background: #8ee0b0;

@font-face {
  font-family: 'Roboto';
}
