// colors

//font colors
$font-black: rgba(0,0,0,.87);
$font-gray: #6f6f6f;
$font-gray-light: #9c9c9c;
$font-gray-disabled: rgba(0,0,0,.2);
$link-text: #0074e1;

//background colors
$mm-brand-bg: #30bb5c;  // alt bb3097 058aca #2188e3 b13843 16b379 ca4444 a41e34 a23939
$mm-brand-bg-dark: #30bb5c;  // alt #3884c7 b5424c 36af82 b53f53
$mm-brand-bg-light: #30bb5c;
$page-background: #eaeaea; 
$bg-light-green: #ccf0e5;
$bg-light-blue: #cbe6f3;
$bg-light-gray: #fbfbfb;
$black-transparent: rgba(0, 0, 0, 0.9);

//current colors - figure out what these all are
$darkgrey: #696969;
$medlightgrey: #8d8d8d;
$medgrey: #d2d2d2;
$lightgrey: #eee;
$fg-grey: #f5f5f5;
$histogramgrey: #c6c6c6;
$mm-brand-fg: #2ba853;
$mm-brand-blue: #1b7ae3;
$help-icon-blue: #1976e5;
$dashboard-button-teal: #2188e3;
$dashboard-button-disable: #e4e4e4;
$border-color: #e4e4e4;
$search-filter: #d2e4f9;
$dashboard-button-green: $mm-brand-bg;
$search-filter: #d2e4f9;
$validation-red: #f44336;

// other
$block-padding: 20px;
$page-padding: 40px;
$progress-widget-bg-stroke: rgba(255,255,255,0.1);
$progress-button-background: #ffffff;

@font-face {
  font-family: 'Roboto';
}
