// colors

//font colors
$font-black: rgba(0,0,0,.87);
$font-gray: #6f6f6f;
$font-gray-light: #a0a0a0;
$font-gray-dark: #444;
$font-gray-disabled: rgba(0,0,0,.2);
$font-gray-form: rgba(0, 0, 0, 0.6);
$link-text: #0070da;
$link-hover: #0070da;
$sidenav-font: #b3b3b3;
$input-label: rgba(0, 0, 0, 0.3);

// MIT brand colors palette
$mm-brand-bg: #a31f34;
$mm-brand-bg-dark: #90192c;
$mm-brand-bg-light: #f9315b;
$brand-font: #a31f34;
$brand-overlay: rgba(0, 0, 0, 0.23);
$progress-bar-color: #3cce83;
$page-background: #e8e8e8;
$bg-light-green: #ccf0e5;
$bg-med-green: #3cce83;
$bg-light-blue: #ddeff7;
$bg-light-tan: #f1efe0;
$bg-light-gray: #f5f5f5;
$bg-med-gray: #f3f3f3;
$bg-error: #f9a9a9;
$black-transparent: rgba(0, 0, 0, 0.9);
$button-color: #008acb;
$button-color-hover: #008acb;
$gray-button-color: #dadada;
$gray-button-hover: #ccc;
$sidenav-bg: #1e1e1e;
$sidenav-separator: rgba(255,255,255,.2);
$sidenav-icon-color: rgba(255,255,255,.4);
$select-menu-outer-bg: rgba(0,0,0,.8);
$select-menu-bg: rgba(0,0,0,.1);

// general colors
$darkergray: #3d3f41;
$meddarkgray: #666;
$darkgray: #696969;
$medlightgray: #8d8d8d;
$medgray: #d2d2d2;
$lightgray: #f1f1f1;
$bg-warm: #fafafa;
$teal: #dceef8;
$fg-gray: #f5f5f5;
$histogramgray: #c6c6c6;
$mm-brand-fg: #2ba853;
$mm-brand-blue: #1b7ae3;
$help-icon-blue: #1976e5;
$dashboard-button-teal: #2188e3;
$dashboard-button-disable: #e4e4e4;
$border-color: #e4e4e4;
$search-filter: #d2e4f9;
$dashboard-button-green: $mm-brand-bg;
$validation-red: #f44336;
$program_selector_border: rgba(255,255,255,.2);
$header_font_color: white;
$text-highlight: #fbf9db;
$email-composition-type: #e3eef8;
$lightest-blue: #e9f2f9;
$elective-bg-color: #386082;

// other
$block-padding: 20px;
$page-padding: 40px;
$progress-widget-bg-stroke: rgba(0,0,0,0.06);
$progress-button-background: #000000;
$recipient_bg: #f5f5f5;

@font-face {
  font-family: 'Roboto';
}
