// colors
$darkgrey: #c5c5c5;
$lightgrey: #eee;
$fg-grey: #F5F5F5;

$font-black: #000000;

$page-background: #FCFCFC;

$mm-brand-bg: #30BB5C;
$mm-brand-fg: #2BA853;
$mm-brand-blue: #1B7AE3;
$border-color: #cccccc;
$search-filter: #D2E4F9;

// other
$block-padding: 20px;
$page-padding: 40px;
