// colors

//font colors
$font-black: rgba(0,0,0,.87);
$font-gray: #6f6f6f;
$font-gray-light: #9c9c9c;
$font-gray-disabled: rgba(0,0,0,.2);
$link-text: #0074e1;
$link-hover: #0074e1;

// MIT brand colors palette
$mm-brand-bg: #a31f34;
$mm-brand-bg-dark: #90192c;
$mm-brand-bg-light: #ca213b;
$brand-font: #a31f34;
$brand-overlay: rgba(0, 0, 0, 0.23);
$page-background: #e8e8e8;
$bg-light-green: #ccf0e5;
$bg-light-blue: #cbe6f3;
$bg-light-tan: #f1efe0;
$bg-light-gray: #f5f5f5;
$bg-med-gray: #ececec;
$bg-error: #f9a9a9;
$black-transparent: rgba(0, 0, 0, 0.9);
$button-color: #008acb;
$button-color-hover: #008acb;
$gray-button-color: #dadada;
$gray-button-hover: #ccc;

// general colors
$darkgrey: #696969;
$medlightgrey: #8d8d8d;
$medgrey: #d2d2d2;
$lightgrey: #eee;
$fg-grey: #f5f5f5;
$histogramgrey: #c6c6c6;
$mm-brand-fg: #2ba853;
$mm-brand-blue: #1b7ae3;
$help-icon-blue: #1976e5;
$dashboard-button-teal: #2188e3;
$dashboard-button-disable: #e4e4e4;
$border-color: #e4e4e4;
$search-filter: #d2e4f9;
$dashboard-button-green: $mm-brand-bg;
$search-filter: #d2e4f9;
$validation-red: #f44336;
$program_selector_border: rgba(255,255,255,.2);
$header_font_color: white;

// other
$block-padding: 20px;
$page-padding: 40px;
$progress-widget-bg-stroke: rgba(255,255,255,0.1);
$progress-button-background: #ffffff;

@font-face {
  font-family: 'Roboto';
}
