.email-campaigns-card {
  .empty-message {
    text-align: center;
  }

  .automatic-email-rows {
    .header, .email-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 0;

      > div:first-child {
        width: 40%;
      }

      > div:not(:first-child) {
        width: 20%;
      }
    }

    .header {
      color: $font-gray-light;
      text-transform: uppercase;
      font-size: 13px;
    }

    .email-row {
      border-top: 1px solid $border-color;

      > div:last-child {
        display: flex;
        justify-content: space-between;

        a {
          padding-right: 20px;
          cursor: pointer;
        }
      }

      .mdl-spinner {
        width: 16px;
        height: 16px;
        top: 4px;
        margin-left: 18px;
      }

      .mdl-switch {
        width: 0;
      }
    }
  }
}
