[class*="blocks-"] {
  padding: 0;
  margin: 0;
  margin-right: -15px;
  margin-left: -15px;
  list-style: none;
}

.blocks:before,
[class*="blocks-"]:before,
.blocks:after,
[class*="blocks-"]:after {
  display: table;
  content: " ";
}

.blocks:after,
[class*="blocks-"]:after {
  clear: both;
}

.blocks > li,
[class*="blocks-"] > li {
  position: relative;
  float: left;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 22px;
}

.blocks.no-space,
[class*="blocks-"].no-space {
  margin: 0;
}

.blocks.no-space > li,
[class*="blocks-"].no-space > li {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.blocks-2 > li:nth-child(2n+3),
.blocks-3 > li:nth-child(3n+4),
.blocks-4 > li:nth-child(4n+5),
.blocks-5 > li:nth-child(5n+6),
.blocks-6 > li:nth-child(6n+7),
.block-first {
  clear: both;
}

.blocks-2 > li {
  width: 50%;
}

.blocks-3 > li {
  width: 33.33333333%;
}

.blocks-4 > li {
  width: 25%;
}

.blocks-5 > li {
  width: 20%;
}

.blocks-6 > li {
  width: 16.66666667%;
}

@media (min-width: 480px) {
  .blocks-xs-100 > li {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .blocks-xs-3 > li {
    width: 33.33333333%;
  }
}

@media (min-width: 480px) {
  .blocks-xs-4 > li {
    width: 25%;
  }
}

@media (min-width: 480px) {
  .blocks-xs-5 > li {
    width: 20%;
  }
}

@media (min-width: 480px) {
  .blocks-xs-6 > li {
    width: 16.66666667%;
  }
}

@media (min-width: 768px) {
  .blocks-sm-100 > li {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .blocks-sm-2 > li {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .blocks-sm-3 > li {
    width: 33.33333333%;
  }
}

@media (min-width: 768px) {
  .blocks-sm-4 > li {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .blocks-sm-5 > li {
    width: 20%;
  }
}

@media (min-width: 768px) {
  .blocks-sm-6 > li {
    width: 16.66666667%;
  }
}

@media (min-width: 992px) {
  .blocks-md-100 > li {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .blocks-md-2 > li {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .blocks-md-4 > li {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .blocks-md-5 > li {
    width: 20%;
  }
}

@media (min-width: 992px) {
  .blocks-md-6 > li {
    width: 16.66666667%;
  }
}

@media (min-width: 1200px) {
  .blocks-lg-100 > li {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .blocks-lg-2 > li {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .blocks-lg-4 > li {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .blocks-lg-5 > li {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .blocks-lg-6 > li {
    width: 16.66666667%;
  }
}

@media (min-width: 1600px) {
  .blocks-xlg-100 > li {
    width: 100%;
  }
}

@media (min-width: 1600px) {
  .blocks-xlg-2 > li {
    width: 50%;
  }
}

@media (min-width: 1600px) {
  .blocks-xlg-3 > li {
    width: 33.33333333%;
  }
}

@media (min-width: 1600px) {
  .blocks-xlg-5 > li {
    width: 20%;
  }
}

@media (min-width: 1600px) {
  .blocks-xlg-6 > li {
    width: 16.66666667%;
  }
}
