.bound-check-box {
  svg {
    fill: $mm-brand-bg !important;
  }

  .first-row {
    display: flex;
    flex-direction: row;

    > div {
      display: flex !important;
      max-width: 25px !important;
    }

    .label {
      font-weight: 300;
      font-size: 14px;
      color: $medlightgray;
      position: relative;
      top: 3px;
      margin-left: 6px;

      a {
        cursor: pointer;
      }
    }
  }
}
