.dialog.financial-aid-calculator, .confirm-dialog {
  >div >div {
    border-top: none !important;
  }

  @include breakpoint(desktop) {
    overflow-y: visible;
  }

  @include breakpoint(mobile) {
    overflow: scroll;

    .checkbox {
      .testify-income-text, .checkbox-income {
        font-size: 13px;
        line-height: 1.2em;
      }
    }
  }

  @include breakpoint(phone) {
    overflow: scroll;
    padding: 20px 10px;

    .checkbox {
      .testify-income-text, .checkbox-income {
        font-size: 13px;
        line-height: 1.2em;
      }
    }
  }

  .mm-button {
    padding-top: 1px;
  }

  .validation-message {
    font-size: 12px;
    color: $validation-red;
  }

  h3 {
    border-bottom: none;

    @include breakpoint(phone) {
      padding: 20px 20px 10px;
    }

    @include breakpoint(desktop) {
      padding: 40px 40px 20px;
    }
  }

  .salary-input, .salary-input > div {
    @include breakpoint(phone) {
      display: block;
    }

    @include breakpoint(desktop) {
      display: flex;
    }
  }

  .api-error {
    background-color: $bg-error;
    color: $link-text;
    padding: 15px 25px;
    margin-top: 25px;
    border-radius: 5px;
  }

  .salary-input {
    background-color: $lightgray;
    padding: 30px;
    margin-top: 25px;
    flex-direction: row;
    justify-content: space-between;

    @include breakpoint(phone) {
      padding: 15px;
      margin-top: 15px;

      > div {
        width: 100%;
      }

      .currency > div {
        padding-bottom: 6px;
      }
    }

    @include breakpoint(desktop) {
      > div {
        flex-direction: column;
        width: 48%;

        > .title {
          font-weight: 600;
        }
      }
    }
  }

  .checkbox {
    padding: 15px;
    font-size: 14px;
    line-height: 10px;
    font-weight: 300;

    label {
      padding-left: 0;
    }

    .testify-income-text, .checkbox-income {
      font-size: 16px;
      line-height: 24px;

    }
  }

  .checkbox-alert {
    margin-left: 38px;

    @include breakpoint(phone) {
      margin-top: 38px;
    }

    @include breakpoint(desktop) {
      margin-top: 7px;
    }
  }

  .actions {
    width: 100%;

    @include breakpoint(desktop) {
      padding: 0 20px 0 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    @include breakpoint(phone) {
      padding: 0 10px 10px 20px;
      display: block;
      text-align: left;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
    }

    .full-price {
      cursor: pointer;
      font-weight: 400;

      @include breakpoint(phone) {
        font-size: 14px;
      }

      @include breakpoint(desktop) {
        font-size: 15px;
      }
    }
  }
}
