.create-channel-dialog-wrapper {
  overflow: auto;

  .create-channel-dialog {
    padding-top: 0 !important;

    > div:first-child > div {
      height: auto !important;
      max-height: inherit !important;
    }

    .create-channel-content {
      color: $font-gray-form;
    }
  }

  .validation-error {
    font-size: 12px;
    color: $validation-red;
  }
}

.sk-selected-filters-list {
  display: flex;
  flex-direction: row;

  .sk-selected-filters-option {
    background: $recipient_bg;
    padding: 5px 10px;
    margin: 0 3px 6px 3px;

    .sk-selected-filters-option__name {
      color: $darkgray;
    }
  }
}
