.course-team-page {
  .tabs-content {
    width: 100%;
    max-width: none;

    .container {
      width: 100%;
      max-width: 1666px;
    }

    .container-fluid {
      flex-grow: 1;
    }

    .course-team-header {
      @media only screen and (min-width: 580px) {
        padding: 0 12px 0 17px;
      }

      &:after {
        content: '';
        display: block;
        clear: both;
      }

      .navigation {
        text-transform: uppercase;
        float: left;
        padding-left: 0;
        font-weight: bold;

        a {
          color: black;
        }
      }

      .rich-text {
        float: right;

        p {
          margin-bottom: auto;
          font-weight: 500;
          letter-spacing: 0.49px;
          line-height: 19px;
          text-align: right;
        }
      }
    }
  }
}

.team-section {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 2px solid $brand-font;
  }

  .section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
  }

  .team-list-administrator {
    position: relative;
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .team-list-item {
      width: 100%;
      margin-bottom: 30px;
      padding: 10px;
      text-align: center;
      @media only screen and (min-width: 768px) {
        width: 50%;
      }
      @media only screen and (min-width: 992px) {
        width: 25%;
      }

      .admin-team-list-item {
        position: relative;
        z-index: 3;
        max-width: 300px;
        margin: auto;
        text-align: left;

        .member-image {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .profile-image-wrapper {
          position: relative;

          &:after {
            content: '';
            width: 100%;
            height: 150px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
          }

          &:before {
            display: none;
            content: '';
            background: rgba(0, 0, 0, .6);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            transition: all 0.5s ease;
          }
        }

        .bio-content {
          position: absolute;
          z-index: 1;
          left: 15px;
          right: 15px;
          bottom: 15px;
          padding-left: 10px;
          margin-bottom: -15px;

          .bio {
            color: white;
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s ease;
            letter-spacing: 0.21px;
            line-height: 25px;
            margin-left: -15px;
            margin-bottom: 0;
          }
        }

        &:hover {
          z-index: 4;

          .profile-image-wrapper {

            &:before {
              display: block;
            }
          }

          .bio-content {

            .bio {
              max-height: 270px;
              overflow: auto;
            }
          }
        }

        .profile-content {
          display: grid;

          .name {
            padding-top: 10px;
            font-size: 24px;
            font-weight: bold;
            line-height: 28px;
          }

          .rich-text {

            p {
              float: left;
              width: 266px;
              font-size: 14px;
              font-weight: bold;
              letter-spacing: 0.43px;
            }
          }

        }
      }
    }
  }

  &.column-count-3 {

    .team-list {

      .team-list-item {
        width: 100%;
        @media only screen and (min-width: 768px) {
          width: 50%;
        }
        @media only screen and (min-width: 992px) {
          width: 33.33%;
        }
      }
    }
  }
}
