.validation-wrapper {
  padding-bottom: 10px;
}
.validation-error-text {
  color: #DA0000;
  font-size: smaller;
}
.main-content {
  @include outer-container;

  padding: 20px 0px;

  .card {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: white;
    .card-user {
      background-color: darkslategrey;
      background-image: url(/static/images/mit-stata-center.png);
      background-position: 50% 50%;
      @include span-columns(12);
      .card-image-box {
        @include span-columns(2);
        min-width: 190px;
        height: 220px;
        padding-top: 40px;
        .card-image{
          border-radius: 50%;
          height: 140px;
          width: 140px;
          margin-left: 50px;
        }
      }
      .card-name {
        margin-top: 70px;
        color: white;
        font-size: 30px;
        line-height: 35px;
        height: 100px;
        font-weight: 400;
        @include span-columns(5);

        .card-student-id {
          font-size: 18px;
          color: #DB686C;
          font-weight: 600;
        }
      }
    }

    .card-header {
      padding: 25px;
      font-size: x-large;
      color: #b34a4c;
      font-weight: bold;
      @include span-columns(12);
    }

    .card-copy {
      @include outer-container;
      padding: 25px;
    }
  }
}

.clear-float {
  clear: both;
}

.course-list {
  @include outer-container;
  @include span-columns(8);
  border: 1px solid grey;
  margin: 10px 0;

  ul {
    @include span-columns(8 of 8);
    border-bottom: 1px solid lightgray;
    margin: 0px;
    display: flex;
    align-items: center;
    height: 70px; // same as progress indicator, see makeCourseProgressDisplay
  }
  ul:last-child {
    border-bottom: 0px;
  }

  li {
    display: block;
  }

  .course-list-header {
    background-color: #eff5f7;
    font-weight: bold;
    font-size: larger;

    .course-progress {
      font-weight: normal;
      font-size: small;
    }
  }

  .course-list-body {
    .course-status {
      text-align: right;
    }
  }

  .course-title {
    @include span-columns(4 of 8);
    @include omega(3n);
  }

  .course-status {
    @include span-columns(3 of 8);
    @include omega(3n);
  }

  .course-progress {
    @include span-columns(1 of 8);
    @include omega(3n);
    text-align: center;
  }
}

.profile-tab-grid {
  max-width: 900px;
}

.education-level-name {
  display: inline;
}

.education-level-header {
  border: 1px solid lightgrey;
}
.mdl-dialog.profile-form-dialog {
  width: 600px;
}
.existing-education-grid.mdl-grid {
  padding-top: 0px;
  padding-bottom: 0px;
}
.existing-education-grid > .mdl-cell {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2.5;
}
