c.validation-wrapper {
  padding-bottom: 10px;
}
.validation-error-text {
  color: #DA0000;
  font-size: smaller;
}
.main-content {
  padding: 20px 0px;

  .card {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: white;
    .card-user {
      background-color: darkslategrey;
      background-image: url(/static/images/mit-stata-center.png);
      background-position: 50% 50%;
      .card-image-box {
        min-width: 190px;
        height: 220px;
        padding-top: 40px;
        text-align: center;
        .card-image{
          border-radius: 50%;
          height: 140px;
          width: 140px;
        }
      }
      .card-name {
        margin-top: 70px;
        color: white;
        font-size: 30px;
        line-height: 35px;
        height: 100px;
        font-weight: 400;

        .card-student-id {
          font-size: 18px;
          color: #DB686C;
          font-weight: 600;
        }
      }
    }

    .card-header {
      padding: 25px;
      font-size: x-large;
      color: #b34a4c;
      font-weight: bold;
    }

    .card-copy {
      padding: 25px;
    }
  }
}

.course-list {
  border: 1px solid grey;
  margin: 10px 0;

  .mdl-grid {
    padding: 0 !important;
  }

  .course-list-row {
    border-bottom: 1px solid lightgray;
    margin: 0px;
  }
  .course-list-row:last-child {
    border-bottom: 0px;
  }

  .course-list-center {
    display: flex;

    .course-title {
      align-self: center;
      padding-left: 20px;
    }

    .course-status {
      align-self: center;
    }

    .course-progress {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &.course-list-header {
      .course-progress {
        align-self: center;
      }
    }

  }

  .course-run-title {
    padding-left: 30px;
  }

  .course-run-status {
    text-align: right;
  }

  li {
    display: block;
  }

  .course-list-header {
    background-color: #eff5f7;
    font-weight: bold;
    font-size: larger;

    .course-progress {
      font-weight: normal;
      font-size: small;
    }
  }

  .course-list-body {
    .course-status {
      text-align: right;
    }
  }

  .course-progress {
    text-align: center;
  }
}

.profile-splash {
  border-bottom: 1px dashed #CCCCCC;
  .mdl-cell {
    margin: 20px auto;
    text-align: center;
    color: #414141;
    font-weight: 400;
  }
}
.mdl-button.progress-button {
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  min-width: 200px;
  margin-right: 5px;
  span {
    padding: 10px;
  }
  &.previous {
    background: #F9F9F9 !important;
  }
  &.next {
    background: #4C8399 !important;
  }
}
.profile-tab-grid {
  max-width: 900px;
},
.profile-tab-grid, .user-cards-grid {
  .mdl-textfield {
    width: 100%;
  }
  .profile-form-title {
    font-size: 22px;
    font-weight: 600;
  }
  .end-date-hint {
    font-size: 12px;
  }
  .profile-tab-card {
    width: 100%;
    position: relative;
    overflow: visible;
    margin-bottom: 35px;
    padding-bottom: 50px;

    .profile-tab-card-grid:first-child {
      padding-top: 15px;
    }
    .profile-tab-card-grid {
      margin: 0;
      padding: 6px 15px;
      .profile-card-title {
        font-weight: 600;
        font-size: 19px;
      }
      .profile-row-icons {
        text-align: right;
        color: #898989;
      }
      .profile-row-name {
        font-size: 16px;
        font-weight: 700;
      }
      .profile-row-date-range {
        font-size: 16px;
        font-weight: 300;
      }

      $switchColor: #00a79d;
      .mdl-switch.is-checked {
        .mdl-switch__track {
          background-color: transparentize($switchColor, 0.5) !important;
        }
        .mdl-switch__thumb {
          background-color: $switchColor !important;
        }
      }
    }

    .profile-add-button {
      background-color: #0cbd8a !important;
      bottom: -30px;
      position: absolute;
      right: 45px;
    }
  }
  .profile-tab-card-greyed {
    min-height: 100px !important;
    background-color: #f9f9f9 !important;
  }
}

.dashboard-dialog {
  width: 700px;
  padding: 30px;

  div {
    border-top: 0 !important;
  }

  h3 {
    border-bottom: 0 !important;
  }
  .mdl-button {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  .cancel-button {
    color: #b7b2b2;
  }
  .save-button {
    color: #58b7bc;
    margin-right: 20px;
  }
}
.users-name {
  text-align: center;
}
.users-location {
  display: block;
  font-weight: 100;
  text-align: center;
}

.profile-radio-group-label {
  color: grey;
  font-weight: 700;
  font-size: 9pt;
}

.radio-label {
  color: #2D2D2D;
  font-weight: 400;
  .radio-label-hint {
    font-size: small;
    color: #9196A0;
  }
}
.header-privacy-tab {
  color: #A2AAB3;
}

.terms-of-service-main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  div.terms-card-header {
    padding: 25px 0;
    font-size: x-large;
    color: #b34a4c;
    font-weight: bold;
  }
  .terms-of-service-container {
    border: 1px solid grey;
    margin: 10px 0;
    height: 250px;
    overflow-y: scroll;
    li {
      display: list-item;
    }
    .terms-of-service-title-container {
      background-color: #eff5f7;
      display: flex;
      .terms-of-service-title-row {
        border-bottom: 1px solid lightgray;
        margin: 0px;
      }
      .terms-of-service-title {
        padding: 0 20px;
        font-weight: 600;
        font-size: 19px;
        position: relative;
        top: 50%;
        transform: translateY(-25%);
      }
    }
    .terms-of-service-content {
      padding: 20px;
    }
  }
}

.profile-card {
  padding-bottom: 50px;
}
.profile-card-greyed {
  min-height: 100px !important;
  background-color: #f9f9f9 !important;
}

// CSS magic to make the radio buttons show up next to each other
.profile-gender-group {
  display: block !important;
  .profile-radio-button {
    width: unset !important;
    display: inline-block !important;
    label {
      width: unset !important;
    }
  }
}
