body {
  font-family: "Open Sans" !important;
}

c.validation-wrapper {
  padding-bottom: 10px;
}
.validation-error-text {
  color: #DA0000;
  font-size: smaller;
}
.main-content {
  padding: 20px 0px;

  .card {
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: white;
    .card-user {
      background-color: darkslategrey;
      background-image: url(/static/images/mit-stata-center.png);
      background-position: 50% 50%;
      .card-image-box {
        min-width: 190px;
        height: 220px;
        padding-top: 40px;
        text-align: center;
        .card-image{
          border-radius: 50%;
          height: 140px;
          width: 140px;
        }
      }
      .card-name {
        margin-top: 70px;
        color: white;
        font-size: 30px;
        line-height: 35px;
        height: 100px;
        font-weight: 400;

        .card-student-id {
          font-size: 18px;
          color: #DB686C;
          font-weight: 600;
        }
      }
    }

    .card-header {
      padding: 25px;
      font-size: x-large;
      color: #b34a4c;
      font-weight: bold;
    }

    .card-copy {
      padding: 25px;
    }
  }
}

.course-list {
  border: 1px solid grey;
  margin: 10px 0;

  .mdl-grid {
    padding: 0 !important;
  }

  .course-list-row {
    border-bottom: 1px solid lightgray;
    margin: 0px;
  }
  .course-list-row:last-child {
    border-bottom: 0px;
  }

  .course-list-center {
    display: flex;

    .course-title {
      align-self: center;
      padding-left: 20px;
    }

    .course-status {
      align-self: center;
    }

    .course-progress {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }

    &.course-list-header {
      .course-progress {
        align-self: center;
      }
    }

  }

  .course-run-title {
    padding-left: 30px;
  }

  .course-run-status {
    text-align: right;
  }

  li {
    display: block;
  }

  .course-list-header {
    background-color: #eff5f7;
    font-weight: bold;
    font-size: larger;

    .course-progress {
      font-weight: normal;
      font-size: small;
    }
  }

  .course-list-body {
    .course-status {
      text-align: right;
    }
  }

  .course-progress {
    text-align: center;
  }
}

.no-border {
  border: none!important;
}

.employment-splash {
  border-bottom: 1px dashed #CCCCCC;
  .mdl-cell {
    margin: 20px auto;
    font-family: "Open Sans";
    text-align: center;
    color: #414141;
    font-weight: 400;
  }
}
.mdl-button.work-button {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
}
.work-button.cancel-button {
  color: #b7b2b2;
}
.work-button.save-button {
  color: #58b7bc;
  margin-right: 20px;
}
.mdl-button.profile-save-and-continue {
  background: #4C8399!important;
  text-transform: none;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  min-width: 200px;
  span {
    padding: 10px;
  }
}
.profile-tab-grid {
  max-width: 900px;
  border: 1px grey solid;
  .mdl-textfield {
    width: 100%;
  }
  .employment-form-title {
    font-size: 22px;
    font-weight: 600;
  }
  .end-date-hint {
    font-size: 12px;
  }
  .profile-tab-card {
    width: 100%;
    position: relative;
    overflow: visible;
    .add-employment-button {
      left: 40%;
    }
    .add-employment-button.no-entries {
      top: 68px;
    }
    .add-employment-button.one-entry {
      top: 38px;
    }
    .add-employment-button.more-entries {
      top: 28px;
    }
    .job-row {
    }
    .profile-tab-card-grid:first-child {
      padding-top: 15px;
    }
    .profile-tab-card-grid {
      font-family: "Open Sans";
      margin: 0;
      padding: 6px 15px;
      .employment-title {
        font-weight: 600;
        font-size: 19px;
      }
      .company-icons {
        text-align: right;
        color: #898989;
      }
      .company-name {
        font-size: 16px;
        font-weight: 700;
      }
      .company-date-range {
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

.profile-tab-grid-borderless {
  border: 0;
}

.education-level-name {
  display: inline;
}

.education-level-header {
  border: 1px solid lightgrey;
}
.existing-education-grid.mdl-grid {
  padding-top: 0px;
  padding-bottom: 0px;
}
.existing-education-grid > .mdl-cell {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2.5;
}
.education-icons {
  text-align: right;
}

.dashboard-dialog {
  font-family: "Open Sans";
  width: 700px;
  padding: 30px;

  div {
    border-top: 0 !important;
  }

  h3 {
    border-bottom: 0 !important;
  }
}
.users-name {
  text-align: center;
}
.users-location {
  display: block;
  font-weight: 100;
  text-align: center;
}

.radio-label {
  color: #2D2D2D;
  font-weight: 400;
  .radio-label-hint {
    font-size: small;
    color: #9196A0;
  }
}
.header-privacy-tab {
  color: #A2AAB3;
}
