.validation-error-text-large {
  color: #da0000;
  font-size: large;
}

.validation-error-text {
  color: #da0000;
  font-size: smaller;
}

.dashboard {
  .dashboard-user-card {
    flex-direction: row;

    .dashboard-user-card-text {
      width: 100%;
      padding: 10px 0 0 28px;

      .dashboard-user-card-text-program {
        display: block;
        padding-bottom: 13px;
      }

      .mdl-card__supporting-text {
        padding: 0;
        color: $font-gray;
        font-size: 15px;
        font-weight: 400;
      }

      .mdl-card__title {
        padding-bottom: 0 !important;
        padding: 0;
        margin: 0 0 12px;

        .mdl-card__title-text {
          font-size: 22px;
          font-weight: 400;
        }
      }
    }
  }

  .financial-aid-box {
    background-color: $bg-light-gray;
    padding: 20px;
    margin: 0;
  }

  .price-explanation {
    display: flex;
    justify-content: space-between;
  }

  a {
    cursor: pointer;
  }

  .document-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-left: 20px;
    }
  }

  .documents-sent {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      font-size: 36pt;
    }
  }

  .personalized-pricing {
    margin: 0 5px 10px;
    padding: 30px;
    background-color: $lightgrey;

    .heading, .explanation {
      margin-bottom: 17px;
    }

    .heading {
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        color: $font-gray-light;
        font-size: 20px;
      }
    }

    .explanation {
      font-size: 15px;
      font-weight: 400;

      .price {
        font-weight: 600;
      }
    }

    .pricing-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .full-price {
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  .course-list {
    padding: 20px 0 0 0;

    .mdl-card__title {
      // align with course-row below which includes an extra 8px of grid cell padding
      padding-left: 28px;
    }

    .course-container {
      border-bottom: 1px solid $lightgrey;

      .course-row {
        width: 100%;
        font-size: 11pt;
        align-items: center;
        padding: 14px 20px;
      }

      .course-description {
        .course-title {
          font-weight: 500;
          font-size: 15px;
        }

        .details {
          font-weight: 400;
          font-size: 15px;
          color: $darkgrey;
          padding: 10px 0;

          span {
            display: block;
          }

          .no-runs {
            color: #868686;
          }
        }
      }

      .course-grade {
        display: flex;
        flex-direction: column;
        align-items: center;

        .number {
          font-size: 18pt;
          font-weight: 500;
        }

        .caption {
          color: $darkgrey;
          font-size: 9pt;
        }
      }

      .course-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .mdl-button {
          min-width: 120px;
          padding: 0;
          text-align: center;
        }

        .mdl-button[disabled] {
          background-color: $lightgrey;
          color: #ffffff;
        }

        .course-action-btn-footer {
          padding: 8px 0 0 0;
          font-size: 14px;
        }

        .description {
          color: $darkgrey;
          font-size: 10pt;
        }

        .boxed.description {
          background-color: $fg-grey;
          border-radius: 5px;
          padding: 10px;
          font-size: 12pt;

          &.passed {
            background-color: #e0f5e6;
          }

          &.not-passed {
            background-color: #fce4e2;
          }
        }

        .disabled-with-spinner {
          width: 130px;
          // mdl-button height is 36px, spinner below is 20px so this should
          // hackishly vertically center it
          padding-top: 8px;

          .mdl-spinner {
            height: 20px !important;
            line-height: 20px !important;
            width: 20px !important;
          }

          .mdl-spinner__layer {
            border-color: #aaaaaa !important;
          }
        }
      }

      .long-description .course-action .description {
        text-align: left;
      }
    }

    .coupon-message, .course-sub-row {
      margin: 0px 15px 15px 15px;
    }

    .course-sub-row {
      font-size: 11pt;
      min-height: 55px;
      align-items: center;
      padding: 5px 20px;
      background-color: $fg-grey;
      color: $darkgrey;

      .course-description,
      .course-grade,
      .course-action  {
        display: flex;
        flex-direction: column;
      }

      .course-action,
      .course-grade {
        align-items: center;
        text-align: center;
      }

      .title {
        font-weight: 500;
        padding-bottom: 5px;
        color: #000;
      }

      .detail {
        font-weight: 400;
        font-size: 10pt;
      }

      &.course-completed {
        font-style: italic;
      }
    }
  }

  .coupon-message {
    font-size: 11pt;
    align-items: center;
    padding: 20px;
    background-color: $fg-grey;
    color: black;
  }
}

.dashboard-page .dialog {
  width: 700px;
  padding: 30px;

  h3 {
    border-bottom: 0 !important;
  }

  .mdl-button {
    font-size: 17px;
    font-weight: 500;
    margin: 6px 10px;
    padding: 0 2px;
  }

  .primary-button, .secondary-button {
    box-shadow: none;

    &:hover, &:focus, &:active, &:focus:not(:active) {
      box-shadow: none;
    }
  }

  .primary-button {
    color: #0c92e0;
    margin-right: 20px;
    background: none;

    &:hover, &:active {
      background: none;
      color: #0473b3;
    }
  }

  .secondary-button {
    background: none;
    color: #9a9a9a;

    &:hover, &:active {
      background: none;
      color: #616161;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

.dialog {
  p:last-child {
    margin-bottom: 0;
  }
}

.course-payment-dialog-wrapper {
  .inner-content {
    background-color: $bg-med-gray;
    padding: 30px 0;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 110px;
  }

  p {
    display: inline-block;
    padding-top: 20px;
    font-size: 17px;
    max-width: 520px;
  }
}

.program-title-dashboard {
  display: flex;
  flex-direction: row;
  width: 88%;
  max-width: 1000px;
  padding-left: 10px;
  margin: 10px auto 29px;
  font-weight: 400;
  font-size: 20px;
}
