.discussion-card {
  min-height: 0;

  .header {
    display: flex;
    justify-content: space-between;

    h2 {
      line-height: normal;
      margin: 0;
    }

    div {
      font-weight: 500;
    }
  }

  .post {
    display: flex;
    align-items: center;
    padding: 11px 14px 12px 17px;
    margin: 0 -24px;
    border-bottom: 1px solid #e6e6e6;

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    &:first-child {
      padding-top: 0;
    }

    img {
      height: 50px;
      border-radius: 100%;
    }

    .title-and-author {
      margin-left: 10px;

      .post-title {
        font-size: 15px;
      }

      .time-and-channel {
        font-size: 13px;
        font-weight: 400;
        color: $font-gray;

        a {
          font-weight: 500;
          color: $font-black;
        }
      }
    }
  }
}
