.docs-instructions-dialog {
  .heading, p {
    color: $font-black;
  }

  .heading {
    margin: 15px 0;
    font-weight: 500;
  }

  .heading:first-child {
    margin-top: 0;
  }

  p {
    text-align: justify;
  }

  .docs-instructions-title {
    border-bottom: none !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    i {
      cursor: pointer;
    }
  }
}
