.email-composition-dialog {
  .email-composition-contents {
    display: flex;
    flex-direction: column;

    .subheading-section {
      padding-bottom: 20px;

      .subheading-to {
        padding: 0 10px;

      }

      .subheading {
        letter-spacing: normal;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-style: italic;
        font-weight: normal;

        &.rounded  {
          background-color: $bg-med-gray;
          line-height: 22px;
          padding: 10px 10px 10px 20px;
          border-radius: 20px;
          font-style: normal;
        }
      }
    }

    .validation-error {
      font-size: 12px;
      color: $validation-red;
    }

    textarea {
      padding: 15px;
      border-color: $border-color;
      border-radius: 2px;

      &.email-subject {
        margin-bottom: 5px;
      }
    }
  }
}
