.email-composition-dialog {
  .email-composition-contents {
    display: flex;
    flex-direction: column;

    h5.sub-heading {
      letter-spacing: normal;
      margin: 0;
      padding-bottom: 20px;
      padding-top: 0px;
      font-size: 16px;
      font-style: italic;
      font-weight: normal;
    }

    .validation-error {
      font-size: 12px;
      color: $validation-red;
    }

    textarea {
      padding: 15px;
      border-color: $border-color;
      border-radius: 2px;

      &.email-subject {
        margin-bottom: 5px;
      }
    }
  }
}
