.email-composition-dialog-wrapper {
  overflow: auto;

  .email-composition-dialog {
    padding-top: 0 !important;

    > div:first-child > div {
      height: auto !important;
      max-height: inherit !important;
    }

    .email-composition-contents {
      display: flex;
      flex-direction: column;
      max-height: inherit;

      .email-body {
        min-height: 300px;

        .rdw-editor-toolbar {
          border: none;

          .rdw-inline-wrapper {
            align-items: center;
          }

          a {
            color: black;
            font-weight: normal;

            &:hover {
              color: black;
              text-decoration: none;
            }
          }
        }

        .rdw-editor-main {
          min-height: 250px;
          height: auto;
          border: 1px solid $border-color;
          border-radius: 2px;
          max-height: 50vh;

          .public-DraftEditor-content {
            padding-left: 10px;
            color: black;
            font-weight: normal;
            font-family: arial;

            // this is an attempt at a hacky default-ish display for hX tags
            h1 {
              font-size: 2em;
              margin-top: 0.67em;
              margin-bottom: 0.67em;
            }

            h2 {
              font-size: 1.5em;
              margin-top: 0.83em;
              margin-bottom: 0.83em;
            }

            h3 {
              font-size: 1.17em;
              margin-top: 1em;
              margin-bottom: 1em;
            }

            h4 {
              font-size: 1em;
              margin-top: 1.33em;
              margin-bottom: 1.33em;
            }

            h5 {
              font-size: .83em;
              margin-top: 1.67em;
              margin-bottom: 1.67em;
            }

            h6 {
              font-size: .67em;
              margin-top: 2.33em;
              margin-bottom: 2.33em;
            }

            h1, h2, h3, h4, h5, h6 {
              padding: 0;
              margin-right: 0;
              margin-left: 0;
              font-weight: bold;
              display: block;
            }
          }
        }
      }

      .subheading-section {
        margin: 10px 0 20px 10px;

        .subheading-to {
          padding: 0 10px;
        }

        .subheading {
          letter-spacing: normal;
          margin: 0;
          padding: 0;
          font-size: 16px;
          font-weight: normal;

          &.default {
            font-style: italic;
          }

          &.rounded {
            background-color: $bg-med-gray;
            line-height: 22px;
            padding: 10px 10px 10px 20px;
            border-radius: 20px;
            font-style: normal;
          }

          &.profile-image-bubble {
            background-color: $bg-med-gray;
            border-radius: 50px;
            padding: 0 30px 0 0;
            height: 43px;
            display: inline-block;

            > span {
              display: inline-block;
              padding-left: 15px;
            }
          }
        }
      }

      .validation-error {
        font-size: 12px;
        color: $validation-red;
      }

      textarea {
        padding: 15px;
        border-color: $border-color;
        border-radius: 2px;
        overflow: hidden;

        &.email-subject {
          margin-bottom: 5px;
        }
      }

      .email-automatic {
        padding: 20px 0 0;
      }
    }
  }
}

.email-type {
  margin: 0 0 10px;
  background-color: $email-composition-type;
  padding: 15px;
  border-radius: 8px;

  .type-radio-group {
    display: flex;
    flex-direction: row;

    label {
      color: $darkergray;
      font-size: 15px;
    }

    > div {
      display: flex !important;

      &:first-child {
        max-width: 35%;
      }
    }
  }

  .email-campaign-content {
    margin: 10px 5px 0;
    font-size: 14px;
  }
}

.sk-selected-filters-display {
  display: flex;
  flex-direction: row;
  border: 1px solid $border-color;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
  padding: 10px 15px 5px;

  .sk-selected-filters-title {
    padding-top: 4px;
    font-size: 16px;
    color: $font-gray-light;
  }

  .sk-selected-filters {
    margin-left: 10px;

    .sk-selected-filters-option {
      background: $recipient_bg;
      padding: 5px 10px;
      margin: 0 3px 6px 3px;

      .sk-selected-filters-option__name {
        color: $darkgray;
      }
    }
  }
}

.toolbar-below {
  padding: 6px 5px 0;
  display: flex;

  .custom-toolbar-button {
    font-size: 14px;
    padding: 0 9px;
    background: $bg-med-gray;
    color: $font-gray;
    height: 30px;
    width: auto;
  }

  .insert {
    padding: 5px;
    height: 30px;
    margin: 0 4px;
  }
}
