html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $page-background;
  font-family: 'Roboto', helvetica, arial, sans-serif !important;
  line-height: 1.4em;
  color: $font-black;
}


.mdl-card {
  padding: 20px 24px 30px;
  margin: 0 0 18px 0;
  min-height: 150px;
  width: 100%;
  border-radius: 2px;
  font-size: 14px;

  .mdl-card__title {
    padding: 0;
    margin: 0 0 20px;
  }

  .mdl-card__title-text {
    font-weight: 500;
    font-size: 16px;
    color: $font-black;
  }
}

.row {
  margin: 0;
}

.mdl-shadow--2dp, .mdl-shadow--3dp {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

p {
  line-height: 1.4em;
}

a {
  color: $link-text;
}

a:focus, a:hover {
  color: $link-hover;
}

blockquote {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  position: static;
  letter-spacing: normal;
  padding: 10px 20px;
  margin: 0 0 20px;
  border: none;
}

blockquote:before, blockquote:after {
  content: none;
}
