// overrides for
// https://github.com/ubilabs/react-geosuggest/blob/master/src/geosuggest.css
.geosuggest {
  font-size: inherit;
  width: inherit;
  margin: inherit;

  label {
    display: block;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
  }
}

.geosuggest__input {
  width: 100%;
  box-shadow: inherit;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: rgb(224, 224, 224);
  padding: .3em 0;
}

.geosuggest__input:focus {
  border-color: rgb(0, 188, 212);
  outline: none;
}

.geosuggest__suggests {
  border: 1px solid rgb(224, 224, 224);
  bottom: 50%;
  top: initial;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}