.program-record-body {
  background-color: #fff;
}

.share-options {
  margin: 30px auto 0;
  text-align: right;

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1400px) {
    width: 1300px;
  }
}

.share-btn {
  font-size: 15px;
  background: $button-color;
  color: #fff;
  text-transform: capitalize;
  border-radius: .25rem;
}

.share-dialog {
  max-width: 500px !important;

  form.share-url {
    margin: 10px 0;

    input {
      width: 100%;
    }
  }

  .share-form-wrapper {
    padding-bottom: 20px;
  }

  .copied-text {
    padding-left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
}

.sent-email {
  display: inline-block;
  margin-top: 10px;
}

.program-record-wrapping {
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  margin: 1em auto 4em;
  background-color: #fff;
  color: #4d4b4b;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1400px) {
    width: 1300px;
  }

  .text-muted {
    color: #636c72 !important;
  }

  .program-record {
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .program-record-header {
    flex-direction: row;
    display: flex !important;
    justify-content: space-between !important;
    margin-bottom: 20px;
  }

  .program-overview {
    position: relative;
  }

  .program-headings {
    display: flex;
    flex-direction: column-reverse;

    .program-title {
      font-family: inherit;
      font-weight: 500;
      line-height: 1.1;
      font-size: 32px;
      margin: 0 0 .5rem;
    }

    .program-type {
      display: flex;
      align-items: center;
    }
  }

  .program-status {
    flex-direction: row;
    display: flex !important;

    .updated {
      margin: auto 0;
    }
  }

  .badge {
    text-transform: capitalize;
    padding: 7px 10px;
    margin-right: 10px;
    font-size: 14px;
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #636c72;
    width: 100%;

    &.partially {
      background-color: #f0ad4e;
      width: fit-content;
    }

    &.earned {
      background-color: #008100;
    }

    &.completed {
      background-color: #008100;
      width: fit-content;
    }
  }

  .program-icon {
    width: 20px;
    height: 28px;
    margin-right: 10px;
    color: #065784;

    .icon-fill.micromasters {
      fill: #065784;
    }
  }

  .school-name {
    align-self: start;
    margin-bottom: .625rem;
    font-size: 2.5rem;
    line-height: 1.5;

    img {
      height: 40px;
    }

    .pipe {
      vertical-align: sub;
      font-size: 20px;
      font-weight: 600;
      color: #000;
    }
  }

  .name {
    margin-bottom: 1em;

    .full-name {
      font-size: 24px;
      font-weight: 400;
    }

    .pipe {
      margin: 0 10px;
    }
  }

  .program-record-grades {
    box-sizing: border-box;

    .table {
      width: 100%;
      overflow-x: auto;
      margin-bottom: 1rem;

      th {
        border-top: none;
        border-right: none;
        border-bottom: 2px solid #d3d2d2;
        border-left: none;
        padding: .75rem;
        font-weight: 600;
      }

      td {
        border: none;
        padding: .75rem;
        vertical-align: top;
      }

      tr:hover {
        background-color: #a8a4a40c;
      }

      .narrow-col {
        max-width: 118px;
      }
    }

    .elective-tag {
      margin: 4px 2px;
    }
  }

  .row-header {
    border-bottom: 1px grey solid;
    font-weight: 600;
    line-height: 18px;
    padding-bottom: 5px;
  }

  .row-grade {
    line-height: 40px;
    font-weight: 400;
  }

  .row-grade , .row-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
