@import "grid-settings";
@import "variables";
@import "page_layout";
@import "navbar";
@import "dashboard";
@import "general_styles";
@import "homepage";
@import "program_page";
@import "user_menu";
@import "validation-alert";
@import "search_page";
@import "button";
@import "profile";
@import "welcome_banner";
@import "profile_progress_controls";
@import "progress_widget";
@import "bound_check_box";
@import "terms_of_service_dialog";
@import "user_chip";
@import "email_composition_dialog";
@import "terms_of_service";
@import "user_page";

.selected {
  font-weight: bold;
}

// Remove link styling
.no-hover {
  text-decoration: none !important;
  cursor: default !important;
  color: inherit !important;
}

.Select {
  // 300px seems to be what material-design-lite uses
  max-width: 300px !important;
}

// Wagtail responsive embeds
.rich-text img {
  max-width: 100%;
  height: auto;
}

.responsive-object {
  position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  position: relative;
  // arbitrarily chosen height
  height: 300px;
  width: 100%;
}

// hides elements so that they're visible only to screenreaders
// from bootstrap.css
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
