@import "grid-settings";
@import "variables";
@import "navbar";
@import "dashboard";
@import "homepage";
@import "program_page";
@import "user_menu";

$border-box-sizing: true !global;

body {
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif !important;
}

.selected {
  font-weight: bold;
}

// Remove link styling
.no-hover {
  text-decoration: none !important;
  cursor: default !important;
  color: inherit !important;
}

.Select {
  // 300px seems to be what material-design-lite uses
  max-width: 300px !important;
}

// Wagtail responsive embeds
.rich-text img {
    max-width: 100%;
    height: auto;
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loader {
  position: relative;
  // arbitrarily chosen height
  height: 300px;
  width: 100%;
}
