@import "grid-settings";
@import "variables";
@import "breakpoints";
@import "page-layout";
@import "navbar";
@import "dashboard/dashboard";
@import "general-styles";
@import "shared-styles";
@import "homepage";
@import "program-page";
@import "search-page";
@import "button";
@import "profile";
@import "welcome-banner";
@import "profile-progress-controls";
@import "progress-widget";
@import "bound-check-box";
@import "terms-of-service-dialog";
@import "email-composition-dialog";
@import "channel-create-dialog";
@import "terms-of-service";
@import "user-page";
@import "responsive-styles";
@import "dialog";
@import "signup-dialog";
@import "footer";
@import "profile-image";
@import "profile-image-uploader";
@import "profile-form";
@import "calculator";
@import "docs-instructions";
@import "toast";
@import "select-field";
@import "blocks";
@import "geosuggest";
@import "order-summary";
@import "final-exam-card";
@import "staff-learner-info-card";
@import "automatic-emails";
@import "certificate";
@import "discussion-card";
@import "grade_record";
@import "letter";
@import "course-team";

.selected {
  font-weight: bold;
}

// Remove link styling
.no-hover {
  text-decoration: none !important;
  cursor: default !important;
  color: inherit !important;
}

// IE: make x's disappear for input items
input::-ms-clear { // sass-lint:disable-line no-vendor-prefixes
  display: none;
}

.Select {
  // 300px seems to be what material-design-lite uses
  max-width: 300px !important;
}

// Wagtail responsive embeds
.rich-text img {
  max-width: 100%;
  height: auto;
}

.responsive-object {
  position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loader {
  position: relative;
  // arbitrarily chosen height
  height: 300px;
  width: 100%;

  .mdl-spinner {
    position: absolute;
    left: 50%;
    top: 50%;

    height: 35px;
    width: 35px;

    .mdl-spinner__layer {
      border-color: $mm-brand-bg;
    }
  }
}

.upper-case {
  text-transform: uppercase;
}

// hides elements so that they're visible only to screenreaders
// from bootstrap.css
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
