.letter {
  background: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 60px;

  .program-title {
    margin-top: 30px;
  }

  .program-footer {
    margin-top: 40px;
    display: flex;

    .footer-logo {
      width: 50%;
    }

    .footer-text {
      font-size: 12px;
      text-align: end;
      width: 50%;

      p {
        line-height: 0.5em;
      }

      h2, h3, h4 {
        font-size: 13px;
        margin-top: 0;
      }
    }
  }

  .header-row {
    display: flex;

    .header-text {
      width: 50%;

      p {
        font-size: 14px;
        line-height: 1.2em;
        margin: 0;
      }

      h2, h3, h4 {
        font-size: 18px;
        margin: 0;
      }
    }

    .letter-logo {
      width: 50%;
      text-align: end;
    }
  }

  .letter-content {
    margin-top: 50px;
  }

  .signatories {
    .signatory {
      margin: 10px 0 5px;
    }

    .sig-image {
      max-height: 80px;
      margin-bottom: 3px;
    }
  }
}
