.letter {
  background: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 100px;

  .program-title {
    margin-top: 30px;
  }

  .letter-logo {
    float: right;
  }

  .letter-content {
    margin-top: 50px;
  }

  .signatories {
    .signatory {
      margin-right: 15px;
      display: inline-block;
    }

    .sig-image {
      height: 100px;
    }
  }
}
