.micromasters-navbar {
  padding-bottom: 0;

  .desktop-visible {
    @include breakpoint(mobile) {
      display: none;
    }
  }

  .nav-drawer {
    position: fixed;
    z-index: 1000;
    width: 280px;
    height: 100%;
    left: -280px;
    background-color: $sidenav-bg;
    color: #fff;
    transition: transform 0.2s;

    &.open {
      transform: translate(100%);
      box-shadow: 3px 0 10px rgba(0,0,0,.2);
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      padding: 0 20px;

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        .icon-button {
          width: 50px;
          top: -10px;

          .material-icons {
            color: white;
            font-size: 40px;
            opacity: .7;
          }
        }

        &:before, &:after { // overriding some bootstrap nonsense
          display: none;
        }
      }

      .program-selector {
        padding: 0;
        margin: 0;
        width: 100%;

        .Select-placeholder {
          padding-left: 0;
          color: $sidenav-font !important;
        }

        .Select-control {
          cursor: pointer;
          background: none;
        }
      }

      .name {
        font-weight: 400;
        font-size: 15px;

        a {
          color: $header_font_color;
          width: 100%;
          border: 0;
          padding: 0;
          background: inherit;
          text-align: left;

          &:hover, &:focus {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
          }
        }
      }

      .program-selector:last-child, .name:last-child {
        padding-bottom: 0;
      }

      .avatar {
        padding: 15px 0 25px;

        img {
          width: 70px;
          height: auto;
          border-radius: 50%;
        }
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      border-bottom: thin solid $sidenav-separator;
    }

    .links, .logout-link {
      padding: 12px 0;

      .link {
        display: flex;
        align-items: center;
        padding: 10px 0;

        a, button {
          color: $sidenav-font;
          width: 100%;
          font-weight: 300;
          border: 0;
          padding: 0;
          background: inherit;
          text-align: left;

          &:hover, &:focus {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
          }
        }

        span {
          color: $sidenav-icon-color;
          padding: 0 23px 0 15px;
        }
      }
    }

  }

  .micromasters-nav, .micromasters-nav > * {
    background-color: $mm-brand-bg !important;
  }

  .micromasters-nav {
    box-shadow: none !important;
    color: white;

    @include breakpoint(desktop) {
      min-height: 50px;
    }

    @include breakpoint(mobile) {
      min-height: 0;
    }

    a.micromasters-title {
      text-decoration: none;
      color: white;
    }

    .micromasters-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      span.mdl-layout-title {
        font-size: 17px;
        font-weight: 200;

        &.profile-header {
          color: white;
          text-decoration: none;
          font-weight: 300;
        }
      }

      @include breakpoint(desktop) {
        img {
          height: 27px;
          margin-right: 25px;
        }
      }

      @include breakpoint(mobile) {
        img {
          height: 27px;
          margin-right: 15px;
        }
      }
    }

    span.menu-icon {
      font-size: 30px;
      padding-right: 15px;
      cursor: pointer;
      width: auto;
    }

    .micromasters-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 57px;

      @include breakpoint(desktop) {
        padding: 0 40px 0 40px;
      }

      @include breakpoint(mobile) {
        padding: 0 0 0 15px;
        height: 65px;
      }
    }
  }
}

.navbar {
  min-height: 80px;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 22px 20px;
}

.navbar-header {
  width: 100%;
  padding: 0 15px;
}

.navbar-toolbar > li > a {
  padding: 27px 14px;
  line-height: 34px;
  color: #337ab7;
  font-weight: normal;
  text-decoration: none;
}

.navbar .nav.navbar-left {
  margin-left: 60px;
}

.nav-utility {
  margin-top: 20px;
  color: #000;
}

.nav-utility span {
  display: inline-block;
  margin-right: 10px;
}

.program-selector {
  font-size: 14px;

  @include breakpoint(desktop) {
    margin-left: 30px;
    padding-right: 30px;
    padding-left: 10px;
    width: 300px;
  }

  .Select-control {
    border: none !important;
    box-shadow: none !important;
    cursor: pointer;
  }

  .Select-menu-outer,.Select-control,.Select-value-label,.Select-menu-outer,.Select-option {
    background-color: $select-menu-bg;
  }

  .Select-menu-outer,.Select-control,.Select-value-label,.Select-placeholder,.Select-option {
    color: $header_font_color !important;
  }

  .Select.is-focused .Select-placeholder {
    color: $select-menu-outer-bg !important;
  }

  .Select-arrow {
    border-color: $header_font_color transparent transparent !important;
  }

  .Select-option {
    border: none !important;
  }

  .Select-menu-outer {
    box-shadow: none;
    border: 1px solid $program_selector_border;
    z-index: 2;
    background: $select-menu-outer-bg;
    border-radius: 3px;
  }

  .Select-placeholder {
    font-weight: 300;
    top: 0;
    padding-left: 10px;
  }
}

.site-menu {
  border-bottom: 1px solid #ececec;
}

.navbar-collapse .btn {
  margin: 26px 0 0 0;
  float: right;
}

.mdl-layout-title > a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.mdl-layout-title > a:hover, .mdl-layout-title > a:focus {
  color: white;
}

.no-program-card {
  width: 500px !important;
  top: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
  min-height: 100px !important;

  > div {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 10px;
  }
}
