.micromasters-navbar {
  padding-bottom: 0;
}

.micromasters-nav, .micromasters-nav > * {
  background-color: $mm-brand-bg !important;
}

.mdl-layout__tab {
  font-weight: 300;
}

.mdl-layout__tab-bar-container * {
  background-color: $mm-brand-bg !important;
}

.micromasters-nav {
  box-shadow: none !important;
  height: 112px;

  a.micromasters-title {
    text-decoration: none;
    color: white;
  }

  .micromasters-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    span.mdl-layout-title {
      font-size: 18px;
      font-weight: 200;
    }

    img {
      height: 30px;
      margin-right: 25px;
    }
  }

  .micromasters-header {
    justify-content: space-between;
  }

  a.mdl-layout__tab.is-active {
    color: #fff;
  }

  a.mdl-layout__tab:hover {
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: whte;
    border-top-color: white;
    color: white;
    outline-color: white;
    text-decoration: none;

    a:hover, a:focus {
      text-decoration: none;
    }
  }

  a.mdl-layout__tab.is-active::after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #fff;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1) .01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
  }
}

.navbar {
  min-height:85px;
  margin-bottom:0;
}

.navbar-brand {
  padding: 22px 20px;
}

.navbar-header {
  width:100%;
  padding:0 15px;
}

.navbar-toolbar>li>a {
  padding:27px 14px;
  line-height: 34px;
  color: #337ab7;
  font-weight: normal;
  text-decoration: none;
}

.navbar .nav.navbar-left {
  margin-left:60px;
}

.nav-utility {
  margin-top:20px;
  color:#000;
}

.nav-utility span {
  display: inline-block;
  margin-right:10px;
}

$program_selector_border: #87ddae;
$header_font_color: white;

.program-selector {
  margin-left: 30px;
  font-size: 16px;
  padding-right: 30px;
  padding-left: 10px;
  width: 300px;

  .Select-control {
    border: 1px solid $program_selector_border !important;
    box-shadow: none !important;
    cursor: pointer;
  }

  .Select-menu-outer,.Select-control,.Select-value-label,.Select-menu-outer,.Select-option {
    background-color: $mm-brand-bg !important;
  }

  .Select-menu-outer,.Select-control,.Select-value-label,.Select-placeholder,.Select-option {
    color: $header_font_color !important;
  }

  .Select-arrow {
    border-color: $header_font_color transparent transparent !important;
  }

  .Select-option {
    border: none !important;
  }

  .Select-menu-outer {
    box-shadow: none;
    border-top: none;
    border-left: 1px solid $program_selector_border;
    border-right: 1px solid $program_selector_border;
    border-bottom: 1px solid $program_selector_border;
    z-index: 2;
  }

  .Select-placeholder {
    font-weight: 500;
  }
}

.site-menu {
  border-bottom:1px solid #ececec;
}

.navbar-collapse .btn {
  margin: 26px 0 0 0;
  float:right;
}
