.order-summary {
  .heading {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
  }

  .summary-box {
    background-color: $bg-light-gray;
    padding: 15px;
  }

  .wrapper-box {
    max-width: 550px;
  }

  .payment-explanation {
    font-size: 14px;
    margin-top: 20px;
  }

  .terms-of-service-text {
    font-size: 12px;
    margin: 22px 0 18px 24px;
    font-weight: 300;
    line-height: 1.4em;
    color: #616161;
  }

  .continue-payment {
    margin-left: 24px;
  }

  .intro-text {
    font-size: 15px;
    margin: 15px 0 20px;
  }

  .division-line {
    border-bottom: 1px solid #cecece;
  }

  .align-right {
    text-align: right;
  }
}
