$border-box-sizing: true !global;

.page-content {
  width: 100%;
  padding: 11px 0 65px;

  .single-column {
    max-width: 1000px;
    margin: 16px auto;
    width: 96%;
  }

  .single-column-wide {
    max-width: 1200px;
    margin: 0 auto;
  }

  .double-column {
    display: flex;
    flex-direction: row;
    width: 88%;
    max-width: 1200px;
    margin: 0 auto;

    .first-column {
      width: 65%;
      margin: 0 10px;
    }

    .second-column {
      width: 35%;
      margin: 0 10px;
    }
  }
}

.main-content-wrapper, .page-content {
  min-height: calc(100vh - 311px);
}
