.profile-form, .dialog {
  &.collapsed {
    padding: 20px 24px 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .alert-info {
    background-color: $text-highlight;
    font-style: italic;
    color: $font-black;
    display: inline-block;
    padding: 1em;
    margin: 0;
  }

  label {
    font-weight: 400;
  }

  label.react-select-label, legend {
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);

    .Select-value, .Select-multi-value-wrapper {
      font-size: 16px;
    }
  }

  legend {
    border: 0;
    width: auto;
    margin: 0 15px 0 0;
    font-weight: 600;
  }

  [data-id='tooltip'] {
    max-width: 450px;
    font-size: 14px;
  }

  .tooltip-link {
    color: $link-text;
    cursor: pointer;
    display: inline-block;
    margin-left: .5em;
  }

  .input-text {
    margin: 8px 0;
    padding-right: 10px;

    input {
      font-size: 16px;
    }

    label {
      color: $input-label;
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }

  .date-field {
    color: $input-label;

    p {
      font-size: 12px;
    }

    input {
      font-size: 16px;
      padding-top: 1px;
    }
  }

  .form-label {
    font-size: 12px;
  }

  .date-field-legend {
    margin-bottom: 10px;
  }

  .dialog-title {

    h2 {
      font-size: 22px;
      line-height: 32px;
      font-weight: 400;
    }
  }

  fieldset {
    margin: 20px 0;
  }

  .employment-dialog {
    width: 75%;
  }
}
