.photo-upload-dialog {
  h3 {
    border-bottom: none !important;
  }

  .photo-dropzone {
    background-color: $fg-grey;
    border-radius: 7px;
    border: 2px dashed $medgrey;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .photo-active-item {
    width: 100%;
    height: 500px;
  }
}
