.profile-form {
  min-height: 0 !important;
  width: 94% !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  margin: 12px auto 15px;
  padding: 15px 25px;

  i.material-icons {
    color: $mm-brand-blue;
  }

  .section-header {
    font-weight: 500;
    font-size: 16px;
    padding-top: 30px;
  }

  label {
    font-weight: 400;
  }

  .profile-radio-switch {
    display: flex;
    flex-direction: row;
    color: $lightgrey !important;
    text-transform: uppercase;

    div:first-child {
      margin-right: 15px;
    }
  }

  .profile-radio-switch, .profile-radio-group {
    svg:last-child {
      fill: $mm-brand-blue !important;
    }
  }

  .profile-radio-group-label {
    font-weight: 400;
    font-size: 12px;
  }

  .profile-radio-switch > div {
    width: 0 !important;
  }

  .profile-form-grid {
    width: 100%;
    padding: 0;

    .profile-form-row, .profile-form-row > .basic-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .profile-form-row > .basic-info {
      width: 50%;
      .school-type {
        font-size: 12px;
        font-weight: 400;
        text-transform: lowercase;
      }
    }

    .profile-card-header {
      > span {
        font-size: 18px;
      }
    }
  }

  .bound-check-box {
    margin:  12px 0 20px;
  }
}


// for the Why we ask this tooltip
// TODO: where should this go?
[data-id='tooltip'] {
  max-width: 450px;
  font-size: 14px;
}
.tooltip-link {
  color: $link-text;
  cursor: pointer;
}

.profile-form.collapsed {
  height: 60px;
  min-height: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;

  .profile-form-grid {
    margin-top: 6px;
  }
}
