.dialog.photo-upload-dialog {
  max-width: 620px;

  h3 {
    border-bottom: none !important;
  }

  .img-error {
    color: $validation-red;
    font-size: 14px;
    text-align: center;
  }

  .photo-dropzone {
    font-size: 20px;
    font-weight: 400;

    .desktop-upload-message, .mobile-upload-message {
      font-size: 17px;
      width: 85%;
      margin: 0 auto;
      text-align: center;
      color: $font-black;
    }

    .mobile-upload-message  {
      display: none;
    }

    @include breakpoint(mobile) {
      .desktop-upload-message {
        display: none;
      }

      .mobile-upload-message  {
        display: block;
      }
    }
  }

  .photo-active-item {
    width: 100%;
  }

  .dashed-border {
    background-color: $fg-gray;
    border-radius: 7px;
    border: 2px dashed $medgray;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include breakpoint(mobile) {
      border: none;
      border-radius: 0;
    }
  }

  .spinner {
    .mdl-spinner__layer {
      border-color: $mm-brand-bg;
    }
  }
}
