.photo-upload-dialog {
  h3 {
    border-bottom: none !important;
  }

  .img-error {
    color: $validation-red;
    font-size: 14px;
    text-align: center;
  }

  .photo-dropzone {
    font-size: 20px;
    font-weight: 300;
  }

  .photo-active-item {
    width: 100%;
  }

  .dashed-border {
    background-color: $fg-grey;
    border-radius: 7px;
    border: 2px dashed $medgrey;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .spinner {
    .mdl-spinner__layer {
      border-color: $mm-brand-bg;
    }
  }
}
