.profile-form, .dialog {
  &.collapsed {
    padding: 20px 24px 20px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  h2 {
    font-size: 20px;
    margin: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    margin: 0;
    display: inline-block;
  }

  .alert-info {
    background-color: $text-highlight;
    font-style: italic;
    color: $font-black;
    display: inline-block;
    padding: 1em;
    margin: 0;
  }

  label {
    font-weight: 400;
  }

  label.react-select-label, legend {
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);

    .Select-value, .Select-multi-value-wrapper {
      font-size: 16px;
    }
  }

  legend {
    border: 0;
    width: auto;
    margin: 0 15px 0 0;
    font-weight: 600;
  }

  [data-id='tooltip'] {
    max-width: 450px;
    font-size: 14px;
  }

  .tooltip-link {
    color: $link-text;
    cursor: pointer;
    display: inline-block;
    margin-left: .5em;
  }
}
