// Progress Widget
.circular-progress-widget {
  margin-bottom: 8px;

  svg {
    fill: none;
    padding: 4px;

    .dashed-circle {
      stroke-opacity: 0.5;
    }

    .circular-progress-widget-bg {
      stroke: $progress-widget-bg-stroke !important;
    }

    .circular-progress-widget-fg {
      transition: stroke-dashoffset .5s ease-in-out;
      stroke: white;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
      -moz-transform-origin: 40% 40%;
    }

    .circular-progress-widget-txt {
      font-size: 31pt;
      fill: white;
      font-weight: 200;
    }
  }
}

.progress-widget {
  background-color: $mm-brand-bg-dark !important;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  font-size: 16pt;
  padding: 20px 24px 44px;

  .progress-title {
    padding: 0;
    align-self: flex-start;

    .mdl-card__title-text {
      font-size: 13pt;
      color: white;
      font-weight: 400;
    }
  }

  p {
    padding: 0;
    margin: 0 0 13px;
  }

  .heading-paragraph {
    font-size: 15px;
    color: rgba(255,255,255,.9);
    text-align: center;
    margin-bottom: 18px;
  }

  .text-course-complete {
    font-size: 16pt;
    font-weight: 300;
  }

  .progress-button {
    color: $mm-brand-bg !important;
    background-color: $progress-button-background !important;
    text-transform: uppercase !important;
    box-shadow: none;
  }
}
