.program-page {
  padding: 0 !important;
  background: #fff;

  .double-column {
    width: 89%;
    }

  .hero-image {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    text-align: center;
    background-size: cover;
    padding: 210px 5% 0;
    background-position: center;

    @media (max-width: 479px) {
      height: 460px;
      padding: 145px 5% 0;
    }

    .title {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 31px;
      max-width: 700px;
      @include breakpoint(phone) {
        font-size: 31px;
      }
    }

    .description {
      max-width: 650px;
      margin-bottom: 25px;

      * {
        font-size: 23px;
        @include breakpoint(phone) {
          font-size: 18px;
        }
        font-weight: 300;
        line-height: 1.3em;
        color: rgba(255,255,255,.8);
      }
    }

    .log-in {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255,255,255,.8);

      a {
        color: white;
        border-bottom: 1px solid white;
        font-size: 18px;
        margin-left: 5px;
      }
    }
  }

  .mdl-tabs {
    .tab-container {
      width: 96%;
      max-width: 1150px;
      display: flex;
      overflow-x: scroll;

      a {
        white-space: nowrap;
      }

      a:focus, a:hover {
        text-decoration: none;
      }

      a.tab-link {
        padding: 0 24px;
        float: left;
        height: 56px;
        line-height: 55px;
        text-transform: uppercase;
        color: rgba(0,0,0,.54);

      }

      a.active-tab {
        color: rgba(0,0,0,.87);
        border-bottom: 3px solid $mm-brand-bg;
      }
    }

    .is-upgraded:after, .is-active:after {
      height: 3px !important;
      background: $mm-brand-bg !important;
    }

    .mdl-tabs__tab-bar {
      margin-bottom: 30px;
      height: 57px;
      overflow: hidden;
    }

    .panel-content {
      margin-bottom: 40px;
      margin-right: 3%;
    }
  }

  .info-box, .powered-by {
    margin: 0 0 23px 15px;

  }

  .info-box {
    padding: 30px;
    background-color: $bg-med-gray;

    > *:not(:last-child) {
      margin-bottom: 22px;
    }

    > .title {
      font-size: 18px;
      font-weight: 600;
      margin-top: 0;
      line-height: 1.4em;
    }
  }

  .course-info {
    #course-list {
      ol {
        list-style: none;
        padding: 0;

        li {
          margin: 0 0 22px 0;
        }
      }

      .title, .title a {
        color: $link-text;
        font-weight: 600;
        font-size: 16px;
        margin: 0 0 6px 0;
        cursor: pointer;
        line-height: 1.4em;

        &:hover {
          text-decoration: underline;
        }
      }

      .description {
        color: $font-gray;
        font-size: 15px;
        line-height: 1.4em;
      }

      .enrollment-dates {
        margin-bottom: 6px;
      }
    }
  }

  .contact-info {
    .contact-links {
      display: flex;
      flex-direction: column;

      p {
        font-size: 15px;
        margin: 0 0 12px 0;
      }
    }
  }

  .powered-by {
    padding: 20px;

    p {
      display: inline-block;
      font-size: 16px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.6) !important;
    }

    > *:not(:last-child) {
      margin-right: 7px;
    }

    img {
      height: 30px;
      margin-bottom: 9px;
    }
  }

  .tabs-content {
    width: 94%;
    margin: 0 auto;
    max-width: 1150px;

    @include breakpoint(phone) {
      padding: 0 23px;
      width: 100%;

      .mdl-cell--8-col, .mdl-cell--4-col {
        width: 100%;

        .panel-content {
          margin-right: 0;

          .faqs {
            .faq {
              padding: 0 0 17px 0;
            }
          }
        }
      }
    }

    p {
      font-size: 17px;
      color: rgba(0,0,0,.7);
      margin-bottom: 24px;
      line-height: 1.5em;
    }

    li {
      font-size: 16px;
      line-height: 1.4em;
      margin-bottom: 20px;
      color: rgba(0,0,0,.7);
    }

    h4 {
      margin-top: 44px;
      margin-bottom: 36px;
    }
  }

  .faqs {
    margin-top: 20px;

    @include breakpoint(phone) {
      margin: 18px auto;
    }

    h3.faq-category {
      color: $mm-brand-bg;
      font-size: 20px;
      font-weight: 500;
    }

    * {
      font-size: 16px;
    }

    .faq {
      padding: 0 15px 2px 0;

      .question {
        font-weight: 500;
        font-size: 18px;
        margin: 0 0 25px 0;
      }
    }
  }


  .faculty-section {
    color: #ffffff;
    background-color: #0c0c0c;
    text-align: center;
    padding: 40px 0 140px;
    @media (max-width: 840px) {
      padding: 40px 5% 140px;
    }

    .faculty-copy {
      width: 100%;
      height: 164px;
      position: absolute;
      bottom: -1px;
      padding: 25px 22px;
      z-index: 2;
      background: linear-gradient(to bottom,  rgba(0,0,0,0), rgba(0,0,0,1));
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );

      @media (max-width: 840px) {
        position: static;
        padding: 6px 9px;
        height: auto;
      }
    }

    h3 {
      margin: 0 0 13px;
      font-weight: 300;
      font-size: 28px;
      color: white;
    }

    p.description {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.6);
      margin: 0 0 45px 0;
    }

    #faculty-carousel {
      max-width: 1300px;
      width: 90%;
      margin: 0 auto;
      @media (max-width: 840px) {
        width: 100%;
      }
    }

    .faculty-tile {
      height: 385px;
      padding: 0;
      margin: 0 auto;
      color: #ffffff;
      text-align: left;
      position: relative;
      width: 500px;
      @media (max-width: 840px) {
        height: auto;
        padding: 0;
        margin: 0 auto 40px;
        width: 100%;
      }

      h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 23px;
        font-weight: 300;
        color: rgba(255,255,255,1);
      }

      p {
        font-size: 16px;
        line-height: 1.4em;
        font-weight: 300;
        color: rgba(255,255,255,.7);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @media (max-width: 840px) {
          margin-bottom: 12px;
          position: static;
          width: 100%;
          height: auto;
        }
      }

      h4, p {
        position: relative;
      }
    }

    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }

    .slick-dots li button:before {
      font-size: 20px;
      color: $font-gray-light;
    }

    .slick-arrow {
      height: 40px;
      width: 40px;

      &:before {
        font-size: 40px;
      }
    }

    .slick-dots {
      bottom: -65px;
    }

    .slick-dots li {
      margin: 0 10px;

      &.slick-active button:before {
        color: #ffffff;
      }
    }
  }

  @media (max-width: 839px) {
    .mdl-cell--4-col {
      width: calc(100% - 16px);

      .info-box {
        margin: 0 0 23px 0;
      }
    }
  }

  .accordion-toggle {
    cursor: pointer;
  }

  .accordion-content {
    display: none;
  }

  .answer.accordion-content {
    padding-left: 35px;
  }

  .accordion-content.default {
    display: block;
  }

  .rotate {
    transform: rotate(-90deg);
  }

  .rotate-reset {
    transform: rotate(0deg);
  }

  .accordion-icon {
    font-size: 30px;
    vertical-align: top;
  }
}

.program-course-popover {
  padding: 17px 28px 25px;
  box-shadow: 0px 1px 15px 6px rgba(0, 0, 0, 0.14) !important;
  /* important is used here to overwrite the inline style in the popover */

  .title {
    font-weight: 500;
    font-size: 17px;
    margin: 0 0 6px 0;
  }

  .description {
    color: $font-black;
    font-size: 15px;
    margin-bottom: 1em;
  }

  .edx-link {
    display: block;
    font-size: 16px;
  }
}
