.program-page {
  padding: 0;
  background: #fff;

  .double-column {
    width: 89%;
    }

  .hero-image {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    text-align: center;
    background-size: cover;
    padding-top: 210px;

    .title {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 31px;
      max-width: 700px;
    }

    .description {
      max-width: 650px;
      margin-bottom: 25px;

      * {
        font-size: 23px;
        font-weight: 300;
        line-height: 1.3em;
        color: rgba(255,255,255,.8);
      }
    }

    button {
      margin-bottom: 20px;
      margin-right: 0;
      font-size: 16px;
      font-weight: 300;
      padding: 14px 53px;
    }

    .log-in {
      font-size: 16px;
      font-weight: 300;
      color: rgba(255,255,255,.8);

      a {
        color: white;
        border-bottom: 1px solid white;
        font-size: 18px;
        margin-left: 5px;
      }
    }
  }

  .mdl-tabs {
    .tab-container {
      width: 96%;
      max-width: 1000px;

      a:focus, a:hover {
        text-decoration: none;
      }
    }

    .is-upgraded:after, .is-active:after {
      height: 3px !important;
      background: $mm-brand-bg !important;
    }

    .mdl-tabs__tab-bar {
      margin-bottom: 40px;
      height: 57px;
    }

    .mdl-tabs__tab {
      height: 56px;
      line-height: 55px;
    }

    .mdl-tabs__panel {
      margin-bottom: 50px;
    }
  }

  .info-box, .powered-by {
    margin: 0 0 23px 15px;;
  }

  .info-box {
    padding: 30px;
    background-color: $bg-med-gray;

    > *:not(:last-child) {
      margin-bottom: 22px;
    }

    > .title {
      font-size: 18px;
      font-weight: 600;
      margin-top: 0;
    }
  }

  .course-info {
    .course-details {
      .title {
        font-weight: 600;
        font-size: 16px;
        margin: 0 0 6px 0;
      }

      .description {
        color: $font-gray;
        font-size: 15px;
      }
    }
  }

  .contact-info {
    .contact-links {
      display: flex;
      flex-direction: column;
    }
  }

  .powered-by {
    padding: 20px;

    > *:not(:last-child) {
      margin-right: 7px;
    }

    img {
      height: 30px;
      margin-bottom: 5px;
    }

  }

  #faq-panel, #about-panel {
    p {
      font-size: 16px;
      color: rgba(0,0,0,.7);
      margin-bottom: 23px;
    }
  }

  .faqs {
    margin-top: 20px;

    * {
      font-size: 16px;
    }

    .faq {
      padding: 20px 0;

      .question {
        font-weight: 500;
        font-size: 18px;
        margin: 0 0 25px 0;
      }
    }

    .faq:last-child {
      margin-bottom: 100px;
    }
  }


  .faculty-section {
    color: #ffffff;
    background-color: #0c0c0c;
    text-align: center;
    padding-top: 20px;

    .faculty-tile {
      width: 500px;
      height: 385px;
      padding: 180px 40px 20px 40px;
      color: #ffffff;
      background-repeat: no-repeat;
      background-position: top left;
      text-align: left;
      position: relative;

      h4 {
        margin-top: 0;
        margin-bottom: 10px;
      }

      img {
        max-width: 500px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1
      }

      h4, p {
        position: relative;
        z-index: 2;
      }
    }

    .slick-prev {
      left: -40px;
    }

    .slick-next {
      right: -30px;
    }

    .slick-arrow:before, .slick-dots li button:before {
      font-size: 30px;
    }

    .slick-dots li {
      margin: 0 10px;

      button:before {
        color: $font-gray-light;
      }

      &.slick-active button:before {
        color: #ffffff;
      }
    }
  }
}
