// Progress Widget
.circular-progress-widget {
  margin-bottom: 8px;
  fill: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  .circular-progress-widget-bg {
    stroke: $progress-widget-bg-stroke !important;
  }

  .circular-progress-widget-fg {
    transition: stroke-dashoffset .5s ease-in-out;
    stroke: $mm-brand-bg-light;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .circular-progress-widget-txt {
    font-size: 31pt;
    fill: #000;
    font-weight: 300;
  }
}

.progress-widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  font-size: 16pt;

  .progress-title {
    padding: 0;
    align-self: flex-start;

    .mdl-card__title-text {
      font-size: 13pt;
      font-weight: 400;
    }
  }

  p {
    padding: 0;
    margin: 0 0 10px;
  }

  .heading-paragraph {
    font-size: 13px;
    color: rgba(0,0,0,.4);
    text-align: center;
    margin: 0 8% 24px;
  }

  .text-course-complete {
    font-size: 16pt;
    font-weight: 400;
  }

}
