// Progress Widget
.circular-progress-widget {
  margin-bottom: 8px;
  fill: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  .circular-progress-widget-bg {
    stroke: $progress-widget-bg-stroke !important;
  }

  .circular-progress-widget-fg {
    transition: stroke-dashoffset .5s ease-in-out;
    stroke: $progress-bar-color;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .circular-progress-widget-txt {
    font-size: 30pt;
    fill: #444;
    font-weight: 300;
  }
}

.progress-widget {

  .progress-widget-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .progress-title {
    padding: 0;
    align-self: flex-start;
  }

  .certificate-thumbnail {
    max-width: 160px;
    width: 70%;
    margin: 6px auto 20px;
  }

  .heading-paragraph {
    font-size: 13px;
    color: rgba(0,0,0,.4);
    text-align: center;
    margin: 0 8% 24px;
  }

  .text-course-complete {
    font-size: 14pt;
    font-weight: 400;
  }

  .certificate-text {
    padding-top: 10px;
    text-align: center;
    color: $font-gray;
  }

}
