@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block;
  }

  .mdl-layout__tab-bar {
    width: 100%;
    padding: 0 0 0 56px;
    height: 48px;
  }

  .mdl-layout__header-row {
    height: 64px;
    padding: 0 40px 0 80px;
  }

  .mdl-layout__tab {
    padding: 0 24px 0 24px;
  }
}


// MOBILE STYLES START HERE

@include breakpoint(phone) {

  body {
    background-color: #dcdcdc;
  }

  .page-content {
    padding: 15px 0 65px;

    .double-column {
      width: 100%;
      display: block;

      .first-column, .second-column {
        width: auto;
        display: block;
        margin: 0 13px;
      }
    }

    .single-column {
      width: auto;
      display: block;
      margin: 0 13px;
    }

    .mdl-cell {
      margin: 0
    }

    .profile-form-row {
      margin: 8px !important;
    }

    .mdl-card {
      margin: 0 0 15px 0;
      border-radius: 2px;
      padding: 17px 20px 19px;
    }

    .course-list {

      .mdl-card__title {
        padding: 0;
      }

      .course-row {
        padding: 10px 0;
      }
    }
  }

  // Profile Sign Up Pages

  .profile-pagination {
    display: none;
  }

  // Dialogs

  .dashboard-dialog {
    padding: 0;
  }


}
