@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block;
  }

  .mdl-layout__tab-bar {
    width: 100%;
    padding: 0 0 0 56px;
    height: 48px;
  }

  .mdl-layout__header-row {
    height: 64px;
    padding: 0 40px 0 80px;
  }

  .mdl-layout__tab {
    padding: 0 24px 0 24px;
  }
}


// MOBILE STYLES START HERE

@include breakpoint(phone) {

  body {
    background-color: #dcdcdc;
  }

  .page-content {
    padding: 15px 0 65px;

    .double-column {
      width: 100%;
      display: block;

      .first-column, .second-column {
        width: auto;
        display: block;
        margin: 0 13px;
      }
    }

    .single-column {
      width: auto;
      display: block;
      margin: 0 13px;
    }

    .mdl-cell {
      margin: 0;
    }

    .profile-form-row {
      margin: 8px !important;
    }

    .mdl-card {
      margin: 0 0 15px 0;
      border-radius: 2px;
      padding: 17px 20px 19px;
    }

    .course-list {

      .course-row {
        padding: 10px 0;
      }
    }
  }

  div.dialog {
    width: 94% !important;
    /* The dialog class is applied to Dialog components from Material UI
    (http://www.material-ui.com/#/components/dialog). Material UI styles its components by setting inline
    styles on the DOM nodes it creates. The CSS cascade defines inline styles to have a higher priority
    than styles defined on an external stylesheet, so normal CSS rules won't override Material UI's styles.
    The exception is !important rules, which override everything else. !important should be used very
    sparingly, but in this case, it is necessary in order to override Material UI's inline styles. */
  }

  // Profile Sign Up Pages

  .profile-pagination {
    display: none;
  }

  // Dialogs

  .dashboard-page .dialog {
    padding: 0;
  }


}
