@media screen and (max-width: 1024px) {
  .mdl-layout__header {
    display: block;
  }

  .mdl-layout__tab-bar {
    width: 100%;
    padding: 0 0 0 56px;
    height: 48px;
  }

  .mdl-layout__header-row {
    height: 64px;
    padding: 0 40px 0 80px;
  }

  .mdl-layout__tab {
    padding: 0 24px 0 24px;
  }
}