@import "../../node_modules/searchkit/theming/components";

.learners-search {
  .centered {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .fullwidth {
    width: 100%;
    overflow: visible;
  }

  // remove padding and margin from MDL layout components
  .no-padding {
    .mdl-grid, .mdl-cell {
      padding: 0;
      margin: 0;
    }
  }

  .search-sidebar {
    display: flex;
    flex-direction: column;
    background-color: $fg-grey;

    .sk-panel {
      .sk-panel__header {
        margin: 15px;
        font-size: 17px;
      }

      .sk-panel__content {
        .sk-item-list > div {
          justify-content: space-between;
          margin-left: 25px;
          margin-right: 40px;
        }

        .sk-item-list-option > * {
          flex: none;
        }
      }
    }

    .sk-hierarchical-menu-list {
      .sk-hierarchical-menu-list__header {
        margin: 15px;
        font-size: 17px;
      }

      .sk-hierarchical-menu-list__root {
        margin-left: 25px;
        margin-right: 40px;
        .sk-hierarchical-menu-option {
          >div {
            justify-content: space-between;
          }
          .sk-hierarchical-menu-option__text {
            margin-right: 15px;
          }
        }
      }
    }

    .filter-visibility-toggle.closed {
      i.closed {
        transform: rotate(0.75turn);
        -webkit-transform: rotate(0.75turn);
        -moz-transform: rotate(0.75turn);
        -ms-transform: rotate(0.75turn);
        -o-transform: rotate(0.75turn);
      }

      .sk-panel__content, .sk-hierarchical-menu-list__root {
        display: none;
      }
    }

    .filter-visibility-toggle {
      display: flex;
      flex-direction: row;

      i {
        cursor: pointer;
        padding-top: 15px;
      }
    }

    .filter--grade-average {
      .sk-panel__content {
        padding-right: 25px;
      }

      .sk-range-histogram > * {
        background-color: $histogramgrey;
      }

      .rc-slider-step {
        background-color: $medgrey;
      }

      .rc-slider-handle {
        border-color: $medgrey;
      }

      .rc-slider-mark-text {
        color: $medgrey;
        background-color: transparent;
      }
    }
  }

  .search-sidebar * {
    background-color: $fg-grey;
  }

  .search-header {
    min-height: 100px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 0;
    border-bottom: 2px solid $border-color;
    margin: 0;

    > * {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .pagination-sort {
      justify-content: flex-end;
      align-items: center;

      .sk-pagination-navigation {
        display: flex;
        align-items: center;

        .sk-toggle-option {
          height: 33px;
        }
      }

      .sk-pagination-navigation * {
        background-color: $fg-grey;
        font-size: 16px;
        font-weight: normal;
      }
    }

    .sk-selected-filters-option {
      background-color: $search-filter;
    }

    .sk-selected-filters-option > div {
      color: black;
      font-weight: 300;
    }

    .mdl-cell {
      margin-top: 2px;
      margin-bottom: 2px;
      padding: 5px 0;
    }

    .result-info {
      justify-content: space-around;
      margin-left: 0;
    }

    .result-info > span {
      white-space: nowrap;
      font-size: 14px;
      font-weight: 400;
      padding-left: 15px;
    }

    .learner-actions {
      justify-content: flex-end;

      div:first-child {
        margin-right: 10px;
      }

      div > i {
        padding-right: 5px;
      }
    }
  }

  .learner-results {
    width: 100%;

    .learner-result {
      border-bottom: 1px solid $border-color;
    }

    .learner-result:last-child {
      border-bottom: none;
    }

    .learner-result .mdl-cell {
      display: flex;
    }

    .learner-result {
      padding: 10px 0;
      font-size: 12px;
      position: relative;

      img {
        border-radius: 50px;
      }

      .learner-name {
        font-weight: 600;
        font-size: 14px;
      }

      .learner-grade span {
        text-align: center;
      }

      .learner-grade {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .percent {
          font-size: 22px;
          font-weight: 600;
        }

        .hint {
          font-size: 10px;
          font-weight: 300;
        }
      }

      .mdl-cell .card-image {
        height: 35px;
      }
    }
  }
}

.sk-select {
  > select {
    background-color: $fg-grey;
  }

  select, option {
    font-size: 16px;
    font-weight: normal;
  }
}
