.select-field, .Select {
  .Select-menu-outer {
    z-index: 10000;
  }
}

.select-field {

  .select-label {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    position: relative;
    top: 4px;
    left: 2px;
  }

  .menu-outer-top .Select-menu-outer {
    top: inherit;
    bottom: 35px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
  }
}

.Select--single > .Select-control {

  border-radius: 0;
  border: none;
  border-bottom: 1px solid #dcdcdc;

  .Select-value {
    padding-left: 2px;
  }

  .Select-input {
    padding-left: 3px;
    height: 29px;
  }

  .Select-arrow-zone {
    top: 2px;
  }
}

.Select-placeholder {
  padding-left: 2px;
}
