img.rounded-profile-image {
  &.small {
    height: 43px;
    border-radius: 50px;
  }

  &.medium {
    height: auto !important;
    width: 112px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 50%;
  }
}
