.signup-dialog {
  color: $font-black;
  padding: 50px;
  max-width: 500px !important;

  @include breakpoint(phone) {
    margin: 10px 16px;
  }

  .logos {
    margin: 10px auto;

    img {
      height: 38px;
    }

    img.mitx_logo {
      height: 32px;
    }

    img:first-child {
      margin-right: 21px;
    }
  }

  p {
    font-size: 15px;
    margin: 25px 0;
    font-weight: 400;
    color: #555;
    line-height: 1.4em;
  }

  .terms-of-service-text {
    font-size: 12px;
    max-width: 96%;
    margin: 28px auto 0;
    font-weight: 300;
    line-height: 1.4em;
    color: #616161;
  }
}
