.signup-dialog {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  color: $font-black;

  .logos {
    margin: 10px auto;

    img {
      height: 38px;
    }

    img:first-child {
      margin-right: 40px;
    }
  }

  span {
    font-size: 15px;
    margin: 25px 0;
    font-weight: 300;
    color: #555;
    line-height: 1.5em;
  }
}
