$badge-size: 126px;

.staff-learner-info-card {
  .program-info {
    .row {
      display: flex;
      border-bottom: 1px solid $lightgray;
      justify-content: space-around;
      padding-bottom: 25px;

      .text-course-complete, .title {
        font-size: 13pt;
        color: $font-gray-light;
      }

      .program-info-badge {
        width: 130px;
        text-align: center;

        .program-badge {
          height: $badge-size;
          width: $badge-size;
          background-color: $teal;
          border-radius: 50%;
          margin: auto;
          margin-bottom: 11px;
          line-height: $badge-size;
          vertical-align: middle;
          font-size: 26px;
        }
      }
    }
  }
}
