#terms-of-service {
  .title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 25px 6px;
  }

  .terms-of-service-content {
    padding: 20px 24px 18px 17px;

    p, li {
      text-align: justify;
      font-size: 15px;
      line-height: 1.4em;
    }

    ol {
      padding-left: 20px;

      li {
        margin-bottom: 20px;
      }
    }

    ul {
      margin: 20px 0;
    }
  }

}
