.user-page {
  .profile-title {
    margin-top: 19px;
    font-size: 23px;
    color: $font-black;
    font-weight: 400;
  }

  .profile-company-name {
    font-size: 18px;
    color: #98989a;
    padding: 15px 0;
  }

  .profile-email {
    font-size: 15px;
    margin-left: -5px;
  }

  .email-icon {
    margin-right: 8px;
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }

  .edit-profile-holder, .edit-about-me-holder {
    width: 100%;
    text-align: right;
  }
}
