.user-page {

  .profile-title {
    margin-top: 19px;
    font-size: 23px;
    color: $font-black;
    font-weight: 400;
  }

  .legal-name, .student-id {
    font-size: 13px;
    color: $font-gray-light;
    margin-top: 15px;
  }

  .profile-company-name {
    font-size: 18px;
    color: #98989a;
    padding: 15px 0;
  }

  .profile-email {
    font-size: 15px;
  }

  .edit-profile-holder, .edit-about-me-holder {
    text-align: right;
    position: absolute;
    top: 15px;
    right: 0;
  }

}
