.user-page {
  .avatar {
    position: relative;

    span.img {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.3);
      position: absolute;
      top: 0;
      right: -2px;
      text-align: center;
      line-height: 46px;

      img {
        width: 22px;
        height: auto;
      }

      i.material-icons {
        color: white;
        font-size: 22px;
      }
    }
  }

  .profile-title {
    margin-top: 19px;
    font-size: 23px;
    color: $font-black;
    font-weight: 400;
  }

  .profile-company-name {
    font-size: 18px;
    color: #98989a;
    padding: 15px 0;
  }

  .profile-email {
    color: #0e52ce;
    font-size: 17px;
    margin-left: -5px;
  }

  .email-icon {
    margin-right: 8px;
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }

  .edit-profile-holder {
    width: 100%;
    text-align: right;
  }
}
