.mdl-card.user-chip {
  min-height: 0;
  width: 345px;
  position: absolute;
  display: none;
  top: 10%;
  left: 200px;
  padding: 12px 24px;
  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.27);
  border-radius: 0;

  .profile-info {
    float: left;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 19px;
      font-weight: 500;
      margin: 8px 0 5px;
    }

    a, .employer {
      font-size: 15px;
    }

    .employer {
      font-weight: 400;
      color: $font-gray;
      margin: 0 0 15px 2px;
    }

    a {
      margin-left: 2px;
    }

    a:hover {
      text-decoration: none !important;
      color: #0074e1;
    }

    a:hover > span {
      text-decoration: underline;
    }

    a.mm-minor-action {
      i {
        margin-right: 6px;
        font-size: 28px;
      }
    }
  }

  .avatar {
    width: 93px;
    float: right;

    img {
      border-radius: 50px;
      width: 100%;
      height: auto !important;
      border: 1px solid rgba(0, 0, 0, 0.15);
      }
  }

}

.learner-result > .learner-name:hover {
  .mdl-card.user-chip {
    display: block;
  }
}
