.user-menu {
  border-radius: 50px;
  background-color: $mm-brand-fg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  position: relative;
  cursor: pointer;

  img {
    height: 40px;
    border-radius: 50px;
  }

  .user-menu-dropdown {
    display: none;
  }

  .user-menu-dropdown.open {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    width: 80%;
    top: 100%;
    left: 10%;
    border-radius: 3px;
    box-shadow: 0 0 10px grey;
  }

  .user-menu-dropdown > a {
    margin: 5px 10px;
    color: $font-black;
    opacity: .87;
  }

  .user-menu-dropdown > a:first-child {
    margin-top: 8px;
  }

  .user-menu-dropdown > a:last-child {
    margin-bottom: 8px;
  }
}

.user-menu.no-auth > a {
  color: white;
  margin: 0 15px;
}

.user-menu > * {
  margin-right: 10px;
}
