.welcome-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 94%;
  margin: auto;
  margin-bottom: 25px;

  img {
    height: 120px;
    border-radius: 120px;
  }

  .banner-text {
    padding-left: 25px;
    font-size: 17px;
    line-height: 1.4em;

    .bold {
      font-weight: 600;
    }
  }
}
