.welcome-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  max-width: 700px;
  margin: auto;
  margin-bottom: 25px;

  img {
    height: 120px;
    border-radius: 120px;
  }

  .banner-text {
    padding-left: 25px;
    max-width: 70%;
    font-size: 16px;

    .bold {
      font-weight: 600;
    }
  }
}
