.course-progress-message {
  margin-bottom: 9px;

  .details {
    font-size: 14px;
    color: $meddarkgray;
    margin-left: 2px;
    display: flex;
    align-items: center;

    span {
      margin-right: 5px;
    }

    .course-links {
      font-size: 14px;
      margin-top: 4px;

      a {
        font-weight: 400;
      }
    }
  }
}
