.course-status-messages {
  padding-top: 18px;

  .status-message {
    background-color: $bg-warm;
    border: 1px solid $dashboard-button-disable;
    padding: 15px 0 15px 18px;
    border-radius: 2px;
  }
}
