.course-row {
  .course-info {
    margin: 29px 22px 35px 28px;

    .course-title {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 4px;
    }
  }

  // we use this to share layout between the progress message
  // and status message components
  .cols {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .second-col {
      margin: 0 9px 0 10px;
      width: 120px;
    }
  }

  .enrollable-course-info {
    .course-start-date-message {
      color: $font-gray;
      margin: 6px 0 9px 1px;
    }

    .second-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
    }

    .mdl-spinner {
      margin-bottom: 1px;
    }
  }
}
