.course-status-messages {
  padding-top: 8px;

  .status-message {
    background-color: $bg-warm;
    border: 1px solid $dashboard-button-disable;
    padding: 13px 18px 15px 18px;
    border-radius: 2px;

    .dashboard-button {
      position: relative;
      top: 3px;
    }

    .second-col {
      margin: 0 18px 0 14px;
    }
  }
}
