@import "course-progress";
@import "course-progress-message";
@import "grades";
@import "course-row";
@import "course-status-messages";
@import "grade-detail-popup";
@import "learners-card";

.validation-error-text-large {
  color: #da0000;
  font-size: large;
}

.validation-error-text {
  color: #da0000;
  font-size: smaller;
}

.bold {
  font-weight: 600;
}

.dashboard {

  h2 {
    line-height: normal;
  }

  .dashboard-user-card {
    display: flex;
    flex-direction: row;

    .dashboard-user-card-text {
      width: 100%;
      padding: 10px 0 0 28px;

      .dashboard-user-card-text-program {
        display: block;
        padding-bottom: 13px;
      }

      p {
        padding: 0;
        color: $font-gray;
        font-size: 15px;
        font-weight: 400;
      }

      h2 {
        font-size: 22px;
        font-weight: 400;
      }
    }
  }

  .financial-aid-box {
    background-color: $bg-light-gray;
    padding: 13px;

    @include breakpoint(phone) {
      padding: 22px;
    }
  }

  .no-calls-message {
    color: $font-gray;
    font-style: italic;
    margin-top: 30px;
    margin-left: 15px;
  }

  .price-explanation {
    display: flex;
    justify-content: space-between;
  }

  a {
    cursor: pointer;
  }

  .document-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      margin-left: 20px;
    }
  }

  .document-sent-button-container {
    @include breakpoint(phone) {
      .react-datepicker__input-container {
        position: block;
        margin-bottom: 10px;
      }

      .document-sent-button {
        margin-left: 0;
        display: block;
      }
    }
  }

  .documents-sent {
    display: flex;
    flex-direction: row;
    align-items: center;

    i {
      font-size: 36pt;
    }
  }

  .personalized-pricing {
    margin: 0 5px 10px;

    .grey-box {
      background-color: $lightgray;
      padding: 30px;
    }

    .coupon-explanation {
      margin-bottom: 25px;
    }

    .heading, .explanation {
      margin-bottom: 17px;
    }

    .heading {
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        color: $font-gray-light;
        font-size: 20px;
      }
    }

    .explanation {
      font-size: 15px;
      font-weight: 400;
    }

    .pricing-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .full-price {
        cursor: pointer;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  .course-list {
    padding: 0;

    @include breakpoint(phone) {
      padding: 17px 0 19px !important;
    }

    .course-list-content {
      padding: 1px;

      h2 {
        margin: 22px 27px;
      }
    }

    .course-container {
      border-bottom: 1px solid $medgray;

      .course-row {
        width: 100%;
        font-size: 11pt;
        align-items: center;
        padding: 14px 20px;

        @include breakpoint(phone) {
          padding: 14px 25px;
        }
      }

      .course-description {
        .course-title {
          font-weight: 500;
          font-size: 15px;
        }

        .details {
          font-weight: 400;
          font-size: 15px;
          color: $darkgray;
          padding: 10px 0;

          span {
            display: block;
          }

          .no-runs {
            color: #868686;
          }
        }
      }

      .course-action {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        @include breakpoint(phone) {
          display: block;
          text-align: left;
        }

        .mdl-button {
          min-width: 120px;
          padding: 0;
          text-align: center;
        }

        .mdl-button[disabled] {
          background-color: $medgray;
          color: white;
          box-shadow: none;
        }

        .course-action-btn-footer {
          padding: 8px 0 0 0;
          font-size: 14px;
        }

        .description {
          color: $darkgray;
          font-size: 10pt;
        }

        .boxed.description {
          background-color: $fg-gray;
          border-radius: 5px;
          padding: 10px;
          font-size: 12pt;

          &.passed {
            background-color: #e0f5e6;
          }

          &.not-passed {
            background-color: #fce4e2;
          }
        }

        .disabled-with-spinner {
          width: 130px;

          // mdl-button height is 36px, spinner below is 20px so this should
          // hackishly vertically center it
          padding-top: 8px;

          .mdl-spinner {
            height: 20px !important;
            line-height: 20px !important;
            width: 20px !important;
          }

          .mdl-spinner__layer {
            border-color: #aaaaaa !important;
          }
        }
      }

      .long-description .course-action .description {
        text-align: left;
      }
    }

    .coupon-message, .course-sub-row {
      margin: 0px 15px 15px 15px;
    }

    .course-sub-row {
      font-size: 11pt;
      min-height: 55px;
      align-items: center;
      padding: 5px 20px;
      background-color: $fg-gray;
      color: $darkgray;

      &.enroll-pay-later-success {
        padding: 10px;
        margin-top: 10px;
      }

      .enroll-pay-later-heading {
        color: $font-black;
        font-weight: 500;
        font-size: 15px;
        margin: 0;
      }

      .enroll-pay-later-txt {
        font-size: 13px;
      }

      .tick-icon {
        font-size: 50px;
        color: $button-color;
      }

      .course-description,
      .course-grade,
      .course-action {
        display: flex;
        flex-direction: column;
      }

      .course-action,
      .course-grade {
        align-items: center;
        text-align: center;
      }

      .title {
        font-weight: 500;
        padding-bottom: 5px;
        color: #000;
      }

      .detail {
        font-weight: 400;
        font-size: 10pt;
      }

      &.course-completed {
        font-style: italic;
      }
    }
  }

  .coupon-message {
    font-size: 11pt;
    align-items: center;
    padding: 20px;
    background-color: $fg-gray;
    color: black;
  }

  .price-message {
    font-size: 14px;
    align-items: center;
    padding: 18px 20px;
    margin: 0 24px 15px;
    background-color: #dceef8;
    color: black;
    border-radius: 3px;
  }
}

.dialog {

  .dialog-content {
    color: rgba(0, 0, 0, 0.6);
  }

  .select-control {
    padding-bottom: 20px;
    font-size: 14px;

  }

  p {
    font-size: 14px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.dashboard-page .dialog {
  width: 70%;
  max-width: 768px;

  h3 {
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;
    margin: 0;
    display: inline-block;
  }

  .select-program {
    padding-bottom: 30px;

    div {
      line-height: 1.8rem;
    }
  }

  label {
    font-size: 16px;
  }

  .mdl-button {
    &.close {
      margin: 0;
    }
  }

  .primary-button, .secondary-button {
    box-shadow: none;
    font-size: 17px;

    &:hover, &:focus, &:active, &:focus:not(:active) {
      box-shadow: none;
    }
  }

  .primary-button {
    color: #0c92e0;
    margin-right: 20px;
    background: none;

    &:hover, &:active {
      background: none;
      color: #0473b3;
    }
  }

  .secondary-button {
    background: none;
    color: #9a9a9a;

    &:hover, &:active {
      background: none;
      color: #616161;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

.course-payment-dialog-wrapper {
  .inner-content {
    background-color: $bg-med-gray;
    padding: 30px 0;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 110px;
  }

  p {
    display: inline-block;
    padding-top: 20px;
    font-size: 17px;
    max-width: 520px;
  }
}

.program-title-dashboard {
  display: flex;
  flex-direction: row;
  width: 88%;
  max-width: 1200px;
  padding: 10px;
  margin: 10px auto 29px;
  font-weight: 400;
  font-size: 20px;

  @include breakpoint(phone) {
    margin: 10px auto 25px;
  }
}

.alert-message-inline {
  width: 88%;
  max-width: 1000px;
  padding: 0 10px;
  margin: 10px auto 29px;
}

.dialog-to-pearson-site {
  .content {
    max-width: 590px !important;

    .dialog-container {
      display: flex;
      flex-direction: column;

      .dialog-title {
        padding: 20px 0;
        color: $font-black;
        font-weight: 500;
      }

      > p {
        color: $font-black;
      }

      .tos-container {
        max-height: 200px;
        overflow-y: scroll;
        border: 1px solid $border-color;
        padding: 15px;
      }

      .attention {
        color: $medlightgray;
        font-size: 13px;
        margin: 20px 0 0 15px;
      }
    }

    .actions {
      border-top: 0 !important;
    }
  }
}

.dialog  .dialog-title {
  h2 {
    padding: 5px 0;
    font-size: 22px;
    font-weight: 400;
  }
}
