.course-grades {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 9px;

  .grades {
    justify-content: flex-start;
    flex-direction: row;
    display: flex;

    .open-popup {
      cursor: pointer;
    }
  }

  .passed-course {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $bg-med-green;
    margin-right: 43px;

    .check-mark-surround {
      display: flex;
      background-color: $progress-bar-color;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-bottom: 4px;

      span {
        color: white;
        margin: auto;
        font-size: 24px;
      }
    }
  }

  .grade-display {
    display: flex;
    border: 1px solid $border-color;
    padding: 9px 11px;
    border-radius: 3px;
    margin-right: 8px;
    font-size: 13px;
    color: $meddarkgray;

    .number {
      margin-right: 7px;
      font-size: 17px;
      color: #000;
    }
  }
}
