.grade-detail-popup {
  font-size: 14px;

  .grade-dialog-title {

    h2 {
      font-size: 16px !important;
      font-weight: 500 !important;
    }
  }

  .course-run-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    color: $font-gray-form;

    @include breakpoint(desktop) {
      width: 80%;
    }

    .status {
      display: inline-block;
    }

    .best-grade {
      display: flex;
      align-items: center;
    }

    .status.passed {
      background-color: $bg-med-green;
      color: white;
      padding: 5px 10px;
    }

    .grade-status {
      display: flex;
      justify-content: space-between;
      width: 40%;

      @include breakpoint(phone) {
        flex-direction: column;
        height: 53px;
        align-items: center;
      }

      .grade {
        min-width: 54px;
      }
    }
  }

  .explanation {
    font-style: italic;
    margin: 10px 0 25px 0;
  }
}
