.learners-card {
  font-size: 16px;
  display: flex;
  align-items: center;

  .learners-title {
    align-self: flex-start;

    .mdl-card__title-text {
      font-size: 13pt;
      font-weight: 400;
    }
  }

  .learners-wrapper {
    max-width: 265px;
    margin: 0 auto;

    .learner-image {
      height: 52px;
      width: 52px;
      border-radius: 26px;
      margin: 0 14px 14px 0;
    }
  }
}
