{% extends "base.html" %}
{% load i18n static rest_framework %}

{% block title %}{% trans "Review Financial Aid" %}{% endblock %}

{% block extrahead %}
<style>
   .btn {
     height: 34px;
     padding: 8px 18px;
   }
</style>
{% endblock %}

{% block content %}
  {% include "header.html" %}
  <div class="page-content">
    <div class="single-column" style="max-width: 1000px;">
      <div class="blocks-sm-2">
        <li>
          <h4 style="margin-top: 0;">Financial Aid Submissions</h4>
        </li>
        <!-- Filters -->
        <li>
          <div class="pull-right input-group">
            <span class="input-group-addon" style="padding-top: 8px;">Show:</span>
            <select class="form-control" onchange="location = this.options[this.selectedIndex].value;">
            {% for status, message in financial_aid_statuses %}
              <option value="{% url 'review_financial_aid' program_id=current_program_id status=status %}"
                      {% if selected_status == status %}selected{% endif %}>
                {{ message }}
              </option>
            {% endfor %}
            </select>
          </div>
        </li>
        <!-- /Filters -->
      </div>

      <div style="background-color: #ffffff; font-size: 14px; padding: 20px;">
        <ul class="blocks-sm-3">
          <!-- Search bar -->
          <li>
            <div class="input-group">
              <input type="text" id="search-query" class="form-control" placeholder="Search" value="{{ search_query }}"
                     onkeydown="if (event.keyCode == 13) { financialAidReview.initiateSearch(); }">
              <span class="input-group-btn">
                <button class="btn btn-default" onclick="financialAidReview.initiateSearch();">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
          </li>
          <!-- /Search bar -->
          <!-- Currency selection -->
          <li style="padding-top: 7px;">
            <div class="radio-inline">
              <label>
                <input type="radio" name="currency-selection" id="currency-selector-usd"
                       onclick="financialAidReview.toggleCurrency('USD');" checked>
                USD
              </label>
            </div>
            <div class="radio-inline">
              <label>
                <input type="radio" name="currency-selection" id="currency-selector-original"
                       onclick="financialAidReview.toggleCurrency('local');">
                Local Currency
              </label>
            </div>
          </li>
          <!-- /Currency selection -->
          <!-- Pagination buttons -->
          <li>
            <div class="pull-right">
              <span style="color: #999999; margin-right: 12px; position: relative; top: 2px;">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}
              </span>
              <span>
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&sort_by={{ current_sort_field }}"
                   class="btn btn-default" style="padding: 8px 10px 8px 12px;">
                  <span class="glyphicon glyphicon-chevron-left" style="color: #000000;"></span>
                </a>
              {% else %}
                <button class="btn btn-default disabled" style="padding: 8px 10px 8px 12px;">
                  <span class="glyphicon glyphicon-chevron-left" style="color: #000000;"></span>
                </button>
              {% endif %}
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&sort_by={{ current_sort_field }}"
                   class="btn btn-default" style="padding: 8px 12px 8px 10px;">
                  <span class="glyphicon glyphicon-chevron-right" style="color: #000000;"></span>
                </a>
              {% else %}
                <button class="btn btn-default disabled" style="padding: 8px 12px 8px 10px;">
                  <span class="glyphicon glyphicon-chevron-right" style="color: #000000;"></span>
                </button>
              {% endif %}
              </span>
            </div>
          </li>
          <!-- /Pagination buttons -->
        </ul>
        
        <!-- Messages -->
        <div id="messages"></div>
        <!-- Message template -->
        <div id="message-template" class="alert alert-dismissible" style="display: none;">
          <button class="close" data-dismiss="alert"><span>&times;</span></button>
          <span></span>
        </div>
        <!-- /Message template -->
        <!-- /Messages -->
        
        <!-- Financial aid application table -->
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr style="color: #999999;">
                <th></th>
                <th style="font-weight: normal;">
                  {% include "common/sort_links.html" with field=sort_fields.last_name %}
                </th>
                <th style="font-weight: normal;">
                  {% include "common/sort_links.html" with field=sort_fields.reported_income %}
                </th>
                <th style="font-weight: normal;">
                  {% include "common/sort_links.html" with field=sort_fields.date_calculated %}
                </th>
                {% if selected_status == statuses.DOCS_SENT %}
                <th style="font-weight: normal;">
                  {% include "common/sort_links.html" with field=sort_fields.date_documents_sent %}
                </th>
                {% endif %}
                <th style="font-weight: normal; min-width: 104px;">
                  {% include "common/sort_links.html" with field=sort_fields.adjusted_cost %}
                </th>
                {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.APPROVED %}
                <th style="font-weight: normal;">Justification</th>
                {% endif %}
                {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
                <th style="font-weight: normal;">Actions</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
            {% for financial_aid in financial_aid_objects %}
              <!-- Financial aid application information -->
              <tr id="application-row-{{ financial_aid.id }}" class="alert-dismissible">
                <!-- Profile picture -->
                <td>
                  {% if financial_aid.user.profile.image %}
                  <img src="{{ financial_aid.user.profile.image.url }}"
                  {% else %}
                  <img src="{% static 'images/avatar_default.png' %}"
                  {% endif %}
                       style="height: 35px; border-radius: 18px; border: 1px solid rgba(180, 180, 180, 0.5)">
                </td>
                <!-- /Profile picture -->
                <!-- Name/location -->
                <td style="white-space: nowrap">
                  <span id="full-name-{{ financial_aid.id }}">
                    <b>{{ financial_aid.user.profile.first_name }} {{ financial_aid.user.profile.last_name }}</b>
                  </span>
                  <br>
                  <small>
                    {{ financial_aid.user.profile.city }},
                    <span class="country-code">{{ financial_aid.user.profile.country }}</span>
                  </small>
                </td>
                <!-- /Name/location -->
                <!-- Income -->
                <td style="white-space: nowrap">
                  <span class="income-usd"><b>$</b>{{ financial_aid.income_usd|floatformat:0 }}</span>
                  <span class="income-local" style="display: none;">
                    {{ financial_aid.original_income|floatformat:0 }} <b>{{ financial_aid.original_currency }}</b>
                  </span>
                </td>
                <!-- /Income -->
                <!-- Date calculated -->
                <td>{{ financial_aid.created_on|date:"SHORT_DATE_FORMAT" }}</td>
                <!-- /Date calculated -->
                <!-- Date docs sent -->
                {% if selected_status == statuses.DOCS_SENT %}
                <td>{{ financial_aid.date_documents_sent|date:"SHORT_DATE_FORMAT" }}</td>
                {% endif %}
                <!-- /Date docs sent -->
                <!-- Adjusted cost -->
                <td>
                  {% if selected_status == statuses.PENDING_MANUAL_APPROVAL %}
                  <select id="tier-program-id-{{ financial_aid.id }}" class="form-control">
                  {% for tier_program in tier_programs %}
                    <option value="{{ tier_program.id }}"
                            {% if tier_program == financial_aid.tier_program %}selected{% endif %}>
                      ${{ tier_program.adjusted_cost }}
                    </option>
                  {% endfor %}
                  </select>
                  {% else %}
                  <input type="text" class="form-control" value="${{ financial_aid.adjusted_cost }}" disabled>
                  {% endif %}
                </td>
                <!-- /Adjusted cost -->
                <!-- Justification -->
                {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.APPROVED %}
                <td>
                  {% if selected_status == statuses.PENDING_MANUAL_APPROVAL %}
                  <select id="justification-{{ financial_aid.id }}" class="form-control">
                    <option value="">--</option>
                  {% for justification in justifications %}
                    <option value="{{ justification }}">
                      {{ justification }}
                    </option>
                  {% endfor %}
                  </select>
                  {% else %}
                  <input type="text" class="form-control"
                         value="{{ financial_aid.justification|default_if_none:'--' }}" disabled>
                  {% endif %}
                </td>
                {% endif %}
                <!-- /Justification -->
                <!-- Actions -->
                {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
                <td style="white-space: nowrap;">
                  <!-- Mark docs as received -->
                  {% if selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
                  <button class="btn btn-default mark-docs-as-received" style="color: #0074e1; padding-top: 7px;"
                         onclick="financialAidReview.submitDocsReceived({{ financial_aid.id }}, '{% url 'financial_aid_action' financial_aid_id=financial_aid.id %}', '{{ statuses.PENDING_MANUAL_APPROVAL }}');">
                    Mark Docs Received
                  </button>
                  {% endif %}
                  <!-- /Mark docs as received -->
                  <!-- Submit approval -->
                  {% if selected_status == statuses.PENDING_MANUAL_APPROVAL %}
                  <button class="btn btn-default" style="color: #0074e1; padding-top: 7px;"
                          onclick="financialAidReview.submitApproval({{ financial_aid.id }}, '{% url 'financial_aid_action' financial_aid_id=financial_aid.id %}', '{{ statuses.APPROVED }}');">
                    Save
                  </button>
                  {% endif %}
                  <!-- /Submit approval -->
                  <button class="btn btn-default" style="color: #0074e1;"
                          onclick="financialAidReview.toggleEmailDisplay('{{ financial_aid.id }}');">
                    <span class="glyphicon glyphicon-envelope"></span>
                  </button>
                </td>
                {% endif %}
                 <td style="white-space: nowrap;">
                     <button class="btn btn-default" style="color: #0074e1; padding-top: 7px;"
                          onclick="financialAidReview.actionReset({{ financial_aid.id }}, '{% url 'financial_aid_action' financial_aid_id=financial_aid.id %}', '{{ statuses.RESET }}');">
                    Reset
                  </button>
                 </td>
                <!-- /Actions -->
              </tr>
              <!-- /Financial aid application information -->
              <!-- Financial aid application email form -->
              {% if selected_status == statuses.PENDING_MANUAL_APPROVAL or selected_status == statuses.PENDING_DOCS or selected_status == statuses.DOCS_SENT %}
              <tr id="application-email-row-{{ financial_aid.id }}" style="display: none;">
                <td colspan="9" style="border-top: 0;">
                  <form id="email-form-{{ financial_aid.id }}" class="email-form form-horizontal">
                    {% render_form email_serializer template_pack="rest_framework/horizontal" %}
                  </form>
                  <button class="btn btn-primary pull-right"
                          onclick="financialAidReview.sendEmail({{ financial_aid.id }}, '{% url 'financial_aid_mail_api' financial_aid_id=financial_aid.id %}');">Send Email</button>
                  <br>
                </td>
              </tr>
              {% endif %}
              <!-- /Financial aid application email form -->
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /Financial aid application table -->
      </div>
    </div>
  </div>
  {% include "footer.html" %}
  <script>
    window.CSRF_TOKEN = "{{ csrf_token }}";
    window.BASE_PATH = "{{ request.path }}?sort_by={{ current_sort_field }}&search_query="
  </script>
  {% load render_bundle %}
  {% render_bundle "financial_aid" %}
{% endblock %}
