{% extends "base.html" %}

{% load i18n static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }} MicroMasters{% endblock %}
{% block description %}MicroMasters Benefits Page{% endblock %}
{% block keywords %}micromasters, MIT, online master's, online courses, MOOC{% endblock %}

{% block social %}
  <meta property="og:site:name" content="{{ page.title }} MicroMasters">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:title" content="{{ page.title }} MicroMasters">
  <meta property="og:description" content="Benefits">
  <meta property="og:image" content="{{ page.background_image.file.url|safe }}">
  <meta property="og:image:secure_url" content="{{ page.background_image.file.url|safe }}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="{{ page.background_image.width }}">
  <meta property="og:image:height" content="{{ page.background_image.height }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@MITxonedX">
  <meta itemprop="name" content="{{ page.title }} MicroMasters">
  <meta itemprop="description" content="Benefits">
  <meta itemprop="image" content="{{ page.background_image.file.url|safe }}">
{% endblock %}

{% block content %}
{% include "header.html" %}
<main class="page-content benefits-page">
  {% image page.background_image original as background_image %}
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="hero-image" style="background-image: url({{ background_image.url }})">
      <!-- big image, and sign-up links, etc -->
      <h1 class="title">
        {{ page.title }}
      </h1>
      <div class="description">
        {{ page.description }}
      </div>
    </div>

    <div class="mdl-grid tabs-content">
      <div class="mdl-cell mdl-cell--8-col">
        <div class="panel-content">
        {% block panel %}
          {{ page.content }}
        {% endblock %}
        </div>
      </div>
    </div>
  </div>
</main>
{% if not DO_NOT_TRACK %}
  {% include "adwords.html" %}
{% endif %}
{% include "footer.html" %}

<div id="signup-dialog">
  <!-- signup dialog React component injected here -->
</div>
{% load render_bundle %}
{% render_bundle "public" %}
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
{% endblock %}
