{% extends "cms/program_page.html" %}
{% load wagtailcore_tags %}

{% block social %}
{% endblock %}

{% block panel %}
  <div class="faqs">
    <h3 class="faq-category"> {{ child_page.title }}</h3>
    {% for faq in child_page.faqs.all %}
      <div class="faq accordion">
        <h4 class="question accordion-toggle">
          <i class="material-icons rotate accordion-icon">arrow_drop_down</i>
          {{ faq.question }}
        </h4>
        <div class="answer accordion-content">
          {{ faq.answer|richtext }}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
