{% extends "cms/program_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block social %}
{% endblock %}

{% block bodyclass %}course-team-page{% endblock %}

{% block tab-content %}
<div class="container-fluid">
  <div class="course-team-header">

    <ul class="navigation">
    {% if child_page.instructors|length > 0 %}
      <a class="page-link" href="#instructors">
        {{ child_page.instructors_heading }} |
      </a>
    {% endif %}

    {% if child_page.administrators|length > 0 %}
      <a class="page-link" href="#administrators">
        {{ child_page.administrators_heading }} |
      </a>
    {% endif %}

    {% if child_page.contributors|length > 0 %}
      <a class="page-link" href="#contributors">
        {{ child_page.contributors_heading }} |
      </a>
    {% endif %}

    {% if child_page.teaching_assistants|length > 0 %}
      <a class="page-link" href="#tas">
        {{ child_page.teaching_assistants_heading }}
      </a>
    {% endif %}
    </ul>

  {{ child_page.address|richtext }}


  </div>
  <div class="container">

    {% if child_page.instructors|length > 0 %}
      <section id="instructors" class="team-section">
        <h1 class="section-title">{{ child_page.instructors_heading }}</h1>
        <ul class="team-list-administrator">
          {% for instructor in child_page.instructors %}
          <li class="team-list-item">
            <div class="admin-team-list-item">
              <div class="profile-image-wrapper">
                <img class="member-image" src="{{ instructor.value.image.file.url }}" alt="">
                <div class="bio-content">
                  <p class="bio">{{ instructor.value.bio }}</p>
                </div>
              </div>
              <div class="profile-content">
                <span class="name">{{ instructor.value.name }}</span>
                {{ instructor.value.title }}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if child_page.administrators|length > 0 %}
      <section id="administrators" class="team-section">
        <h1 class="section-title">{{ child_page.administrators_heading }}</h1>
        <ul class="team-list-administrator">
          {% for administrator in child_page.administrators %}
          <li class="team-list-item">
            <div class="admin-team-list-item">
                <div class="profile-image-wrapper">
                  <img class="member-image" src="{{ administrator.value.image.file.url }}" alt="">
                  <div class="bio-content">
                    <p class="bio">{{ administrator.value.bio }}</p>
                  </div>
                </div>
                <div class="profile-content">
                  <span class="name">{{ administrator.value.name }}</span>
                  {{ administrator.value.title }}
                </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if child_page.contributors|length > 0 %}
      <section id="contributors" class="team-section">
        <h1 class="section-title">{{ child_page.contributors_heading }}</h1>
        <ul class="team-list-administrator">
          {% for contributor in child_page.contributors %}
          <li class="team-list-item">
            <div class="admin-team-list-item">
              <div class="profile-image-wrapper">
                <img class="member-image" src="{{ contributor.value.image.file.url }}" alt="" />
                <div class="bio-content">
                  <p class="bio">{{ contributor.value.bio }}</p>
                </div>
              </div>
              <div class="profile-content">
                <span class="name">{{ contributor.value.name }}</span>
                {{ contributor.value.title }}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

    {% if child_page.teaching_assistants|length > 0 %}
      <section id="tas" class="team-section">
        <h1 class="section-title">{{ child_page.teaching_assistants_heading }}</h1>
        <ul class="team-list-administrator">
          {% for ta in child_page.teaching_assistants %}
          <li class="team-list-item">
            <div class="admin-team-list-item">
              <div class="profile-image-wrapper">
                <img class="member-image" src="{{ ta.value.image.file.url }}" alt="" />
                <div class="bio-content">
                  <p class="bio">{{ ta.value.bio }}</p>
                </div>
              </div>
              <div class="profile-content">
                <span class="name">{{ ta.value.name }}</span>
                {{ ta.value.title }}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  </div>
</div>

{% endblock %}

