{% extends "cms/program_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block social %}
{% endblock %}

{% block bodyclass %}course-team-page{% endblock %}

{% block tab-content %}

<div class="container">
  <div class="course-team-header">

      <ul class="navigation">
       <a class="page-link" href="#instructors">Instructors | </a>
        <a class="page-link" href="#administrators">Administrators Team | </a>
        <a class="page-link" href="#contributors">Course Contributors | </a>
        <a class="page-link" href="#tas">Current TAs</a>
      </ul>

    {{ child_page.address|richtext }}


  </div>

  {% if child_page.instructors|length > 0 %}
    <section id="instructors" class="team-section">
      <h1 class="section-title">{{ child_page.instructors_heading }}</h1>
      <ul class="team-list-administrator">
        {% for instructor in child_page.instructors %}
        <li class="team-list-item">
          <div class="admin-team-list-item">
            <div class="profile-image-wrapper">
              <img class="member-image" src="{{ instructor.value.image.file.url }}" alt="">
            </div>
            <div class="bio-content">
              <p class="bio">{{ instructor.value.bio }}</p>
            </div>
            <div class="profile-content">
              <span class="name">{{ instructor.value.name }}</span>
              <span class="title">{{ instructor.value.title }}</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if child_page.administrators|length > 0 %}
    <section id="administrators" class="team-section">
      <h1 class="section-title">{{ child_page.administrators_heading }}</h1>
      <ul class="team-list-administrator">
        {% for administrator in child_page.administrators %}
        <li class="team-list-item">
          <div class="admin-team-list-item">
              <div class="profile-image-wrapper">
                <img class="member-image" src="{{ administrator.value.image.file.url }}" alt="">
              </div>
              <div class="bio-content">
                <p class="bio">{{ administrator.value.bio }}</p>
              </div>
              <div class="profile-content">
                <span class="name">{{ administrator.value.name }}</span>
                <span class="title">{{ administrator.value.title }}</span>
              </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if child_page.contributors|length > 0 %}
    <section id="contributors" class="team-section">
      <h1 class="section-title">{{ child_page.contributors_heading }}</h1>
      <ul class="team-list-administrator">
        {% for contributor in child_page.contributors %}
        <li class="team-list-item">
          <div class="admin-team-list-item">
            <div class="profile-image-wrapper">
              <img class="member-image" src="{{ contributor.value.image.file.url }}" alt="" />
            </div>
            <div class="bio-content">
              <p class="bio">{{ contributor.value.bio }}</p>
            </div>
            <div class="profile-content">
              <span class="name">{{ contributor.value.name }}</span>
              <span class="title">{{ contributor.value.title }}</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if child_page.teaching_assistants|length > 0 %}
    <section id="tas" class="team-section">
      <h1 class="section-title">{{ child_page.teaching_assistants_heading }}</h1>
      <ul class="team-list-administrator">
        {% for ta in child_page.teaching_assistants %}
        <li class="team-list-item">
          <div class="admin-team-list-item">
            <div class="profile-image-wrapper">
              <img class="member-image" src="{{ ta.value.image.file.url }}" alt="" />
            </div>
            <div class="bio-content">
              <p class="bio">{{ ta.value.bio }}</p>
            </div>
            <div class="profile-content">
              <span class="name">{{ ta.value.name }}</span>
              <span class="title">{{ ta.value.title }}</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</div>

{% endblock %}

