{% extends "cms/program_page.html" %}
{% load wagtailcore_tags %}

{% block social %}
{% endblock %}

{% block panel %}
  <div class="faqs">
    {% for categorized in faqpage.get_children.specific %}
      <h3 class="faq-category"> {{ categorized.title }}</h3>
      {% for faq in categorized.faqs.all %}
        <div class="faq">
          <div class="question">
            {{ faq.question }}
          </div>
          <div class="answer">
            {{ faq.answer|richtext }}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}
