{% extends "cms/program_page.html" %}
{% load wagtailcore_tags %}

{% block social %}
{% endblock %}

{% block panel %}
  <div class="faqs">
    {% for categorized in child_page.get_children.specific.live %}
      <h3 class="faq-category"> {{ categorized.title }}</h3>
      {% for faq in categorized.faqs.all %}
        <div class="faq accordion">
          <h4 class="question accordion-toggle">
            <i class="material-icons rotate accordion-icon">arrow_drop_down</i>
            {{ faq.question }}
            <a name="{{ faq.slug }}" href="#{{ faq.slug }}" title="Link to question" class="pilcrow">&nbsp;&nbsp;¶</a>
          </h4>
          <div class="answer accordion-content">
            {{ faq.answer|richtext }}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}
