{% extends "base.html" %}
{% load i18n static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% wagtailuserbar %}
{% block body_class %}template-programpage{% endblock %}

{% block title %}MicroMasters: Learn now, apply later (or never){% endblock %}
{% block description %}
  The MicroMasters is a new digital credential for online learners.
  The MicroMasters credential will be granted to learners who complete an
  integrated set of graduate-level online courses and capstone exams.
  With the MicroMasters credentials, learners can apply for an accelerated
  master’s degree program on campus, at MIT or other top universities.
{% endblock %}
{% block keywords %}micromasters, MIT, online masters, online courses, MOOC{% endblock %}

{% block social %}
  <meta property="og:site:name" content="MIT MicroMasters">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://micromasters.mit.edu/">
  <meta property="og:title" content="MIT MicroMasters">
  <meta property="og:description" content="MicroMasters is a
    new digital credential for online learners. The MicroMasters
    credential will be granted to learners who complete an
    integrated set of graduate-level online courses. With the MicroMasters
    credentials, learners can apply for an accelerated master's degree
    program on campus, at MIT or other top universities.">
  <meta property="og:image" content="{{ request.build_absolute_uri }}static/images/lp_hero2.jpg">
  <meta property="og:image:secure_url" content="{{ request.build_absolute_uri }}static/images/lp_hero2.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="948">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@MITxonedX">
{% endblock %}

{% block content %}

<div id="home-page">
{% include "header.html" %}

  <div class="main-content-wrapper">
    <section class="main-content">

      <div class="banner-wrapper">
        <div class="banner-wrapper-content">
          <h1>
            MicroMasters: Learn now, apply later (or never)
          </h1>
          <h2>
            A new kind of digital credential for online learners
          </h2>
        </div>
      </div>

      <div class="row sub-banner">
        <div class="col-md-12 ">
          <div class="sub-banner-section">
            <div class="sub-banner-text">
            <h3>What is MicroMasters?</h3>
              <p>MicroMasters is a new digital credential for online learners.
                The MicroMasters credential will be granted to learners who complete
                an integrated set of graduate-level courses on edX.org and capstone exams.
                With the MicroMasters credentials, learners can apply for an accelerated master’s
                degree program on campus, at MIT or other top universities.</p>
              <div class="sub-banner-logos">
                <div class="sub-banner-logos-text">All MIT Micromasters courses are delivered on</div>
                <img src="{% static 'images/edx_logo.png' %}" alt="edX">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row reasons-section">

      <div class="centered-content">

        <h3>Why should I enroll?</h3>
        <div class="enroll-reason col-md-4">
          <div class="reasons-images-wrap">
             <img src="{% static 'images/online.png' %}" alt="">
          </div>

          <h5 class="upper-case">Online Learning</h5>
          <p>Take MIT graduate-level courses remotely, from anywhere in the world.</p>
        </div>
        <div class="enroll-reason col-md-4">
          <div class="reasons-images-wrap">
            <img src="{% static 'images/blended.png' %}" alt="">
          </div>

          <h5 class="upper-case">Blended Masters</h5>
          <p>Start a new, faster path to a Master’s degree from MIT or other universities.</p>

        </div>
        <div class="enroll-reason col-md-4">
          <div class="reasons-images-wrap">
            <img src="{% static 'images/cost.png' %}" alt="">
          </div>
           <h5 class="upper-case">Cost Savings</h5>
          <p>Get a masters degree at a significantly reduced cost.</p>
        </div>
        </div>

      </div>

      <div class="row quote-section">
        <div class="centered-content">
          <img class="reif" src="{% static 'images/reif1.png' %}" alt="">
          <h2 class="quote">"Micromasters is an important project for me. I believe in the model of empowering people."</h2>
          <p class="quote_author">-- Rafael Reif, MIT President  </p>
        </div>
      </div>

      <div class="row current-programs-section">
        <div class="col-md-12">
          <div class="row">
            <h3>Current MicroMasters Programs</h3>
            {% for program in programs %}
              <div class="col-md-4">
                {% if program.programpage %}
                  {% if program.programpage.external_program_page_url %}
                    <a href="{{ program.programpage.external_program_page_url }}" class="program-link">
                  {% else %}
                    <a href="{{ program.programpage.url }}" class="program-link">
                  {% endif %}
                {% endif %}
                    <div class="program-thumbnail-image-wrap">
                      {% if program.programpage and program.programpage.thumbnail_image %}
                        {% image program.programpage.thumbnail_image fill-690x530 as thumbnail_image %}
                        <img src="{{ thumbnail_image.url }}" alt="course image for {{ program }}"
                             >
                      {% else %}
                        <img src="{% static 'images/course-thumbnail.png' %}"
                             alt="course image for {{ program }}" style="opacity: .4">
                      {% endif %}
                      <div class="program-bottom-info">
                      <div class="program-title">{{ program.programpage.title }}</div>
                      <div class="num-courses">
                        <span class="meta-courses">
                          {% blocktrans count counter=program.course_set.count %}
                            {{ counter }} course
                          {% plural %}
                            {{ counter }} courses
                          {% endblocktrans %}
                        </span>
                      </div>
                      </div>
                    </div>

                {% if program.programpage %}
                  </a>
                {% endif %}
                <div class="program-thumbnail-description">
                  <p>{{ program.description|default:"No description available for this program." }}</p>

                  {% if program.programpage %}
                    {% if program.programpage.external_program_page_url %}
                      <p><a href="{{ program.programpage.external_program_page_url }}" class="program-link">Learn More</a></p>
                    {% else %}
                      <p><a href="{{ program.programpage.url }}" class="program-link">Learn More</a></p>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          <div class="col-md-4">
            <div class="dummy-program-thumbnail">
              <img src="{% static 'images/more-coming-soon.png' %}"
                             alt="More programs coming soon!">
            </div>
            <div class="program-thumbnail-description">
              <p>MIT plans to bring more MicroMasters programs to motivated learners like you.
                Sign up for our mailing list to hear about new MicroMasters programs.</p>
              <button data-toggle="modal" class="btn mailing-list upper-case" data-target="#subscribeAlert">Sign up for mailing list</button>
            </div>
          </div>

          </div>

        </div>
      </div>


    </section>
  </div>

  {% include "footer.html" %}

  <div class="modal fade modal-fade-in-scale-up" id="modal-about" aria-hidden="true" aria-labelledby="modal-about"
                                                                                     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>MicroMasters is a new credential</h2>
          <p>
          MIT has created a new credential for online learners: the “MicroMasters,” which will be granted by MITx (MIT’s online learning initiative) to students who do exceptionally well in a given set of graduate-level online courses and do well in a subsequent exam. The credential will first be available to students who register for the SCM program’s online courses.
          </p>
          <h3>Join the MIT MicroMasters community</h3>
          <p>
          MicroMasters aren't just about courseware. Part of the the MIT experience is interacting with other exceptional students like yourself. Fill out your profile on this site and build professional relationships with like-minded learners.
          </p>
          <h3>MicroMasters courses are delivered through edX.org</h3>
          <p>
          Use your edX.org account to enroll in a MicroMasters program and share your grades and progress with MIT. When you complete all the requirements and earn a MicroMasters credential, you can use it to apply for a Master’s degree at MIT.
          </p>
        </div>
      </div>
    </div>
  </div>



<div id="signup-dialog">
  <!-- signup dialog React component injected here -->
</div>

<!-- Modal subscribe alerts -->
<div id="subscribeAlert" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sign up to be notified when new programs are announced.</h4>
      </div>
      <div class="modal-body">
        <div class="container">
            <form class="form-horizontal subscription-form mailchimp">
                <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                <h4 class="col-sm-offset-4 subscription-result success"></h4>
                <h4 class="col-sm-offset-4 subscription-result error"></h4>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputname">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="inputname" name="FNAME">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="inputEmail3">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="">
                    </div>
                </div>
                <fieldset class="form-group">
                    <legend class="col-sm-4 control-label">Tell us more...</legend>
                    <div class="col-sm-8">
                        <div class="radio">
                            <label><input type="radio" name="MMERGE2" value="I am an interested learner" id="learner">
                                I am an interested learner
                            </label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="MMERGE2" value="I represent an interested corporation" id="corporation">
                                I represent an interested corporation
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" name="MMERGE2" value="I represent an interested university or educational institution" id="university">
                                I represent an interested university or educational institution
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="MMERGE2" value="Other" id="other">
                                Other
                            </label>
                        </div>

                    </div>
                </fieldset>
                <div class="form-group" id="mce-MMERGE4">
                    <label for="textarea-comments" class="col-sm-4 control-label">Comments</label>
                    <div class="col-sm-8">
                        <textarea id="textarea-comments"  class="form-control" name="MMERGE4" placeholder=""></textarea>
                    </div>
                </div>
                <div class="form-group" id="mce-MMERGE3">
                    <label for="input-institution-name" class="col-sm-4 control-label">Institution name</label>
                    <div class="col-sm-8">
                        <input type="text" id="input-institution-name" class="form-control" name="MMERGE3"  placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8 text-left">
                        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript" src="{{ public_src }}"></script>
<script type="text/javascript" src="{{ signup_dialog_src }}"></script>
{% endblock %}

</a>div>
