{% extends "base.html" %}
{% load i18n static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailuserbar %}
{% wagtailuserbar %}
{% block body_class %}template-programpage{% endblock %}

{% block title %}MITx MicroMasters: Bringing MIT to you{% endblock %}
{% block description %}
  MicroMasters is a professional and academic credential for online learners from anywhere in the world. Learners who pass an integrated set of MITx graduate-level courses on edX.org, and one or more proctored exams, will earn a MicroMasters credential from MITx, and can then apply for an accelerated, on campus, master’s degree program at MIT or other top universities.
{% endblock %}
{% block keywords %}micromasters, MIT, online master's, online courses, MOOC{% endblock %}

{% block social %}
  <meta property="og:site:name" content="MITx MicroMasters">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:title" content="MITx MicroMasters">
  <meta property="og:description" content="MicroMasters is a
    new digital credential for online learners. The MicroMasters
    credential will be granted to learners who complete an
    integrated set of MITx graduate-level online courses. With the MicroMasters
    credentials, learners can apply for an accelerated master's degree
    program on campus, at MIT or other top universities.">
  <meta property="og:image" content="{{ request.build_absolute_uri }}static/images/lp_hero.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="948">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@MITxonedX">
  <meta itemprop="name" content="MITx MicroMasters">
  <meta itemprop="description" content="MicroMasters is a
    new digital credential for online learners. The MicroMasters
    credential will be granted to learners who complete an
    integrated set of MITx graduate-level online courses. With the MicroMasters
    credentials, learners can apply for an accelerated master's degree
    program on campus, at MIT or other top universities.">
  <meta itemprop="image" content="{{ request.build_absolute_uri }}static/images/lp_hero.jpg">
  <meta name="twitter:description" content="MITx MicroMasters Programs: a new academic credential
    and a new path to a master’s degree from MIT. Learn more ">
{% endblock %}

{% block content %}

<div id="home-page">
{% include "header.html" %}

  <div class="main-content-wrapper">
    <main>
      <div class="banner-wrapper">
        <div class="banner-wrapper-content">
          <h1>
            MITx MicroMasters: Bringing MIT to you
          </h1>
          <h2>
            Advance your career. Accelerate your master’s degree.
          </h2>
        </div>
      </div>

      <div class="row sub-banner">
        <div class="col-md-12 ">
          <section class="sub-banner-section">
            <div class="sub-banner-text">
            <h3>What is the MicroMasters Credential?</h3>
              <p>MicroMasters is a professional and academic credential for online learners from anywhere in the world. Learners who pass an integrated set of MITx graduate-level courses on edX.org, and one or more proctored exams, will earn a MicroMasters credential from MITx, and can then apply for an accelerated, on campus, master’s degree program at MIT or other top universities.</p>
              <p>MicroMasters courses offer the same learning and challenge as MIT courses.</p>
              <div class="sub-banner-logos">
                <div class="sub-banner-logos-text">All MITx MicroMasters courses are delivered on</div>
                <img src="{% static 'images/edx_logo.png' %}" alt="edX" class="edx-logo">
                <img src="{% static 'images/micromasters_logo.png' %}" alt="MITx" class="micromasters-logo">
              </div>
            </div>
          </section>
        </div>
      </div>

      <section class="row how-it-works-section">
        <div class="centered-content">
          <h3>How It Works</h3>
          <div class="hiw col-md-3">
            <div class="reasons-images-wrap">
               <img src="{% static 'images/hiw1.png' %}" alt="">
            </div>

            <h4>Online Learning</h4>
            <p>Take a series of online courses on edX, and pass all the course requirements.</p>
          </div>
          <div class="hiw col-md-3">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/hiw2.png' %}" alt="">
            </div>

            <h4>Proctored Tests</h4>
            <p>Pass one (or more) proctored exams—either a single final exam, or one exam for each course, depending on the program.</p>

          </div>
          <div class="hiw col-md-3">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/hiw3.png' %}" alt="">
            </div>
            <h4>Earn a Valuable Credential</h4>
            <p>A MicroMasters credential from MITx proves that you’ve gained the knowledge and skills to give you a competitive advantage for career success.</p>
          </div>
          <div class="hiw col-md-3">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/hiw4.png' %}" alt="">
            </div>
            <h4>Pursue a Master’s</h4>
            <p>Learners who complete the MicroMasters program can apply for the Master’s degree program at MIT or other universities.</p>
          </div>
        </div>
      </section>
      <section class="row current-programs-section">
        <h3>Current MITx MicroMasters Programs</h3>
        <ul class="current-programs-list">
        {% for program, programpage in programs %}
          <li class="col-md-4">
            <div class="program-thumbnail">
              {% if programpage %}
                {% if programpage.external_program_page_url %}
                  <a href="{{ programpage.external_program_page_url }}" class="program-link">
                {% else %}
                  <a href="{{ programpage.url }}" class="program-link">
                {% endif %}
              {% endif %}
                <div class="program-info">
                  <h4 class="program-title" aria-describedby="program-{{ program.id }}-description">
                    {% if programpage %}
                      {{ programpage.title }}
                    {% endif %}
                  </h4>
                  <div class="program-num-courses">
                    {% blocktrans count counter=program.course_set.count %}
                      {{ counter }} course
                    {% plural %}
                      {{ counter }} courses
                    {% endblocktrans %}
                  </div>
                </div>
                {% if programpage and programpage.thumbnail_image %}
                  {% image programpage.thumbnail_image fill-690x530 as thumbnail_image %}
                  <img src="{{ thumbnail_image.url }}" alt=""
                       >
                {% else %}
                  <img src="{% static 'images/course-thumbnail.png' %}"
                       alt="" class="program-default-image">
                {% endif %}
              {% if programpage %}
                </a>
              {% endif %}
            </div>
            <div class="program-description">
              <p class="program-description-text" id="program-{{ program.id }}-description">{{ program.description|default:"No description available for this program." }}</p>

              {% if programpage %}
                <p class="program-description-link">
                {% if programpage.external_program_page_url %}
                  <a href="{{ programpage.external_program_page_url }}" class="program-link">
                {% else %}
                  <a href="{{ programpage.url }}" class="program-link">
                {% endif %}
                    More about {{ program }}
                  </a>
                </p>
              {% endif %}
            </div>
          </li>
        {% endfor %}

          <li class="col-md-4">
            <div class="program-thumbnail">
              <img src="{% static 'images/more-coming-soon.png' %}"
                             alt="More programs coming soon!">
            </div>
            <div class="program-description">
              <p>MIT plans to bring more MicroMasters programs to motivated learners like you. Sign up for our mailing list to hear about new MicroMasters programs.</p>
              <button data-toggle="modal" class="mdl-button gray-button mailing-list-button" data-target="#subscribeAlert">Sign up for mailing list</button>
            </div>
          </li>

        </ul>
      </section>

      <section class="row reasons-section">
        <div class="centered-content">
          <h3>Why should I enroll?</h3>
          <div class="enroll-reason col-md-4">
            <div class="reasons-images-wrap">
               <img src="{% static 'images/online.png' %}" alt="">
            </div>

            <h4>Convenient &amp; Flexible</h4>
            <p>Take online courses on a schedule that fits your needs, and meet motivated learners who share your interests.</p>
          </div>
          <div class="enroll-reason col-md-4">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/blended.png' %}" alt="">
            </div>

            <h4>Accelerate Your Master’s</h4>
            <p>MicroMasters is a faster path to a master’s degree from MIT and other universities, and is recognized by employers for providing deep learning in specific career fields.</p>

          </div>
          <div class="enroll-reason col-md-4">
            <div class="reasons-images-wrap">
              <img src="{% static 'images/cost.png' %}" alt="">
            </div>
             <h4>Save Money &amp; Time</h4>
            <p>MicroMasters is an affordable option for professionals who can’t take off time to earn a traditional master’s degree.</p>
          </div>
        </div>
      </section>

      <section class="quote-section">
        <div class="row quote">
          <img class="person" src="{% static 'images/reif1.png' %}" alt="">
          <blockquote class="quote-text">“We will find people who never thought they would be able to apply to MIT. And they will discover that they are much stronger in the global competition than they think.”</blockquote>
          <p class="quote-author">-- Rafael Reif, MIT President  </p>
        </div>
        <div class="row quote">
          <img class="person" src="{% static 'images/sanjay1.png' %}" alt="">
          <blockquote class="quote-text">“Inverted admissions has the potential to disrupt traditional modes of access to higher education… We’re democratizing access to a master’s program for learners worldwide.”</blockquote>
          <p class="quote-author">-- Sanjay Sarma, Vice President of Open Learning, MIT  </p>
        </div>
      </section>

    </main>
  </div>

  {% include "footer.html" %}

  <div class="modal fade modal-fade-in-scale-up" id="modal-about"
       aria-hidden="true" aria-labelledby="modal-about"
       role="dialog" tabindex="-1">
    <div class="modal-dialog modal-center">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>MicroMasters is a new credential</h2>
          <p>
          MIT has created a new credential for online learners: the “MicroMasters,” which will be granted by MITx (MIT’s online learning initiative) to students who do exceptionally well in a given set of graduate-level online courses, and in subsequent exam(s).
          </p>
          <h3>Join the MITx MicroMasters community</h3>
          <p>
          MicroMasters isn't just about courseware. Part of the the MIT experience is interacting with other exceptional students like yourself. Fill out your profile and build professional relationships with like-minded learners.
          </p>
          <h3>MicroMasters courses are delivered through edX.org</h3>
          <p>
          Use your edX.org account to enroll in a MicroMasters program and share your grades and progress with MIT. When you complete all the requirements and earn a MicroMasters credential, you can use it to apply for a master’s degree at MIT.
          </p>
        </div>
      </div>
    </div>
  </div>



<div id="signup-dialog">
  <!-- signup dialog React component injected here -->
</div>

<!-- Modal subscribe alerts -->
<div id="subscribeAlert" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title text-center">Get notified when new programs are announced</h6>
      </div>
      <div class="modal-body">
        <div class="container">
            <form class="form-horizontal subscription-form mailchimp">
                <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                <h4 class="subscription-result success"></h4>
                <h4 class="subscription-result error"></h4>

                <div class="form-group col-sm-12">
                  <input type="text" class="form-control flat-field" id="inputname" name="FNAME" placeholder="Name" />
                </div>
                <div class="form-group col-sm-12">
                  <input type="email" class="form-control flat-field" id="inputEmail3" placeholder="Email">
                </div>
                <fieldset class="form-group col-sm-12">
                  <div class="radio">
                    <label><input type="radio" name="MMERGE2" value="I am an interested learner" id="learner">
                        I am an interested learner
                    </label>
                  </div>
                  <div class="radio">
                    <label><input type="radio" name="MMERGE2" value="I represent an interested corporation" id="corporation">
                        I represent an interested corporation
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                        <input type="radio" name="MMERGE2" value="I represent an interested university or educational institution" id="university">
                        I represent an interested university or educational institution
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                        <input type="radio" name="MMERGE2" value="Other" id="other">
                        Other
                    </label>
                  </div>
                </fieldset>
                <div class="form-group" id="mce-MMERGE4">
                    <div class="col-sm-12">
                        <textarea id="textarea-comments"  class="form-control flat-field" name="MMERGE4" placeholder="Comments"></textarea>
                    </div>
                </div>
                <div class="form-group col-sm-8" id="mce-MMERGE3">
                  <input type="text" id="input-institution-name" class="form-control flat-field" name="MMERGE3"  placeholder="Institution name">
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-12 text-left">
                       <button type="button" data-dismiss="modal" class="mm-button mailchimp-btn">CANCEL</button>
                       <button type="submit" class="mm-button main-action mailchimp-btn">SUBMIT</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% load render_bundle %}
{% render_bundle "public" %}
</div>
{% endblock %}
