{% extends "base.html" %}

{% load i18n static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block title %}{{ page.title }} MicroMasters{% endblock %}
{% block description %}{% if page.program.description %}{{ page.program.description }}{% endif %}{% endblock %}
{% block keywords %}micromasters, MIT, {{ page.program.title }}, online master's, online courses, MOOC{% endblock %}

{% block social %}
  <meta property="og:site:name" content="{{ page.title }} MicroMasters">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:title" content="{{ page.title }} MicroMasters">
  <meta property="og:description" content="{% if page.program.description %}{{ page.program.description }}{% endif %}">
  <meta property="og:image" content="{{ page.background_image.file.url|safe }}">
  <meta property="og:image:secure_url" content="{{ page.background_image.file.url|safe }}">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="{{ page.background_image.width }}">
  <meta property="og:image:height" content="{{ page.background_image.height }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@MITxonedX">
  <meta itemprop="name" content="{{ page.title }} MicroMasters">
  <meta itemprop="description" content="{% if page.program.description %}{{ page.program.description }}{% endif %}">
  <meta itemprop="image" content="{{ page.background_image.file.url|safe }}">
{% endblock %}

{% block body_class %}template-programpage{% endblock %}
{% block content %}
{% include "header.html" %}
<main class="page-content program-page">
  {% image page.background_image fill-1310x613 as background_image %}
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <div class="tab-container">
        <div class="tab-wrapper">
          <a href="{{ page.url }}"
            class="tab-link {% if active_tab == 'about' %}active-tab{% endif %}">
           About the Program
          </a>
          {% for child in page.get_children.live %}
            <a href="{{ child.url }}"
              class="tab-link {% if child.title == active_tab %}active-tab{% endif %}">
              {{ child.title }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
    {% if active_tab == 'about' %}
      <div class="hero-image" style="background-image: url({{ background_image.url }})">
        <!-- big image, and sign-up links, etc -->
        <h1 class="title">
          MicroMasters Program in <br />
          {{ page.title }}
        </h1>
        <div class="description">
          {{ page.title_over_image|richtext }}
        </div>
        {% if courses %}
          {% if not authenticated %}
            <button class="mdl-button hero-button open-signup-dialog mdl-cell--hide-phone">
              Sign Up Now
            </button>
            <div class="log-in mdl-cell--hide-phone">
              Already a Member?
              <a href="/login/edxorg">
                Log In
              </a>
            </div>
          {% endif %}
        {% else %}
          <a class="mdl-button hero-button"
                  href="{{ page.program_subscribe_link }}"
                  target="blank">I'm interested</a>
        {% endif %}
      </div>
    {% endif %}

    <div class="mdl-grid tabs-content">
      {% block tab-content %}
        <div class="mdl-cell mdl-cell--8-col">
      {% if active_tab == 'about' %}
        <div class="panel-content">
          {{ page.description }}
        </div>
      {% else %}
        <div class="panel-content">
        {% block panel %}

        {% endblock %}
        </div>
      {% endif %}
      </div>
        <div class="mdl-cell mdl-cell--4-col">
        <div id="courses-component">
          <!-- CourseListWithPopover component injected here -->
        </div>
        {% if page.semester_dates.exists %}
        <div class="info-box">
          <h3 class="title">
            Future Courses Dates
          </h3>
          {% for semester_date in  page.semester_dates.all %}
            <div class="semester-date">
              {{ semester_date.semester_name }}: starts {{ semester_date.start_date }}
            </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if page.program_home_page_url or page.program_contact_email or page.info_links.exists %}
          <section class="info-box contact-info">
            <h3 class="title">
              More Info
            </h3>
            <div class="contact-links">
              {% if page.program_home_page_url %}
                <p>
                  <a target="_blank" href="{{ page.program_home_page_url }}" rel="noopener noreferrer">
                  {% if page.title_program_home_page_url %}
                    {{ page.title_program_home_page_url }}
                  {% else %}
                    {{ page.title }} Home Page
                  {% endif %}
                  </a>
                </p>
              {% endif %}
              {% if page.info_links.exists %}
                {% for link in page.info_links.all %}
                  <p>
                    <a target="_blank" href="{{ link.url }}" rel="noopener noreferrer" class="program-contact-link">
                      {{ link.title_url }}
                    </a>
                  </p>
                {% endfor %}
              {% endif %}
              {% if page.program_contact_email %}
                <p>
                  <a href="mailto:{{ page.program_contact_email }}">
                    Contact us: {{ page.program_contact_email }}
                  </a>
                </p>
              {% endif %}
            </div>
          </section>
        {% endif %}
        <div class="powered-by">
          <p>
            Courses delivered on
          </p>
          <img src="{% static 'images/edx_logo.png' %}" alt="edX" />
        </div>
      </div>
      {% endblock %}

    </div>
  </div>

  {% if active_tab != course_team_tab_title and page.faculty_members.count > 0 %}
    <section class="faculty-section mdl-grid mdl-grid--no-spacing">
      <div class="mdl-cell mdl-cell--12-col">
        <h3 class="title">Instructors</h3>
        {% if page.faculty_description|length > 0 %}
          <p class="description">{{ page.faculty_description }}</p>
        {% endif %}
      </div>
      <div id="faculty-carousel" class="mdl-cell--12-col">
        <!-- React-Slick carousel component injected here -->
      </div>
    </section>
  {% endif %}

</main>
{% if not DO_NOT_TRACK %}
  {% include "adwords.html" %}
{% endif %}
{% include "footer.html" %}

<div id="signup-dialog">
  <!-- signup dialog React component injected here -->
</div>
{% load render_bundle %}
{% render_bundle "public" %}
<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
<script type="text/javascript">
  let iframes = document.querySelectorAll(".rich-text>div>iframe");
  iframes.forEach(function(frame) {
    frame.style.position = "absolute";
    frame.style.top = 0;
    frame.style.left = 0;
    frame.style.width = "100%";
    frame.style.height = "100%";
    frame.parentElement.style.position = "relative";
    frame.parentElement.style['padding-bottom'] = "56.25%";
    frame.parentElement.style.height = 0;
  });
</script>
{% endblock %}
